
@{
    ViewData["Title"] = "数据展示";
}
<style>
    .layui-select-title input {
        width: 194px;
    }

    .layui-form-pane .layui-form-select {
        width: 194px;
    }

    .v-modal {
        display: none;
    }

    #app {
        margin-top: 15px;
        padding: 15px;
        background-color: #fff;
    }
</style>

<div id="app">
    <el-form :inline="true" class="demo-form-inline">
            <div class="layui-row">
                <el-form-item label="企业名称">
                    <el-input placeholder="请输入企业名称" v-model="orgname"></el-input>
                </el-form-item>
                <el-form-item label="企业信用代码">
                    <el-input placeholder="请输入企业信用代码" v-model="orgcode"></el-input>
                </el-form-item>
                <el-form-item label="请选择导出年份">
                    <el-date-picker v-model="exportyear"
                                    type="year"
                                    format="yyyy"
                                    placeholder="选择年">
                    </el-date-picker>
                </el-form-item>
            </div>

        </el-form>
    <el-form :inline="true" class="demo-form-inline">
        <el-form-item>
            <el-button type="primary" @@click="querydata">查询</el-button>
        </el-form-item>
        <el-form-item>
            <el-button type="success" @@click="query">导出</el-button>
        </el-form-item>
        <el-form-item>
            <el-button type="success" @@click="downtemplate">下载模板</el-button>
        </el-form-item>
        <el-form-item>
            <el-upload class="upload-demo"
                       action="/api/qiyefile/upload"
                       :before-upload="beforeUpload"
                       :data="model">
                <el-button size="small" type="primary">点击上传</el-button>
            </el-upload>
        </el-form-item>
    </el-form>

    <div v-loading="loading">
        <el-table :data="data"
                  :span-method="objectSpanMethod"
                  style="width: 100%;"
                  :height="822">
            <el-table-column fixed
                             prop="orgName"
                             label="企业名称"
                             width="150">
            </el-table-column>
            <el-table-column prop="town"
                             label="所属镇街"
                             width="150">
            </el-table-column>
            <el-table-column prop="orgCode"
                             label="统一社会信用代码"
                             width="150">
            </el-table-column>
            <el-table-column prop="registrationType"
                             label="登记注册类型"
                             width="150">
            </el-table-column>
            <el-table-column prop="address"
                             label="住所"
                             width="150">
            </el-table-column>
            <el-table-column label="法定代表人">
                <el-table-column prop="legalRepresentative"
                                 label="姓名"
                                 width="120">
                </el-table-column>
                <el-table-column prop="phone"
                                 label="联系电话"
                                 width="120">
                </el-table-column>
            </el-table-column>
            <el-table-column label="日常联系人">
                <el-table-column prop="linkMan"
                                 label="姓名"
                                 width="120">
                </el-table-column>
                <el-table-column prop="phone2"
                                 label="联系电话"
                                 width="120">
                </el-table-column>
            </el-table-column>
            <el-table-column prop="ownershipLand"
                             label="自有土地面积(平方米)"
                             width="120">
            </el-table-column>
            <el-table-column prop="protectionLand"
                             label="评价保护期土地面积(平方米)"
                             width="120">
            </el-table-column>
            <el-table-column prop="reduceLand"
                             label="新减土地面积(平方米)"
                             width="120">
            </el-table-column>
            <el-table-column prop="factLand"
                             label="事实用地总面积(平方米)"
                             width="120">
            </el-table-column>
            <el-table-column prop="rentLand"
                             label="租用土地总面积(平方米)"
                             width="120">
            </el-table-column>
            <el-table-column prop="leaseLand"
                             label="出租土地总面积(平方米)"
                             width="120">
            </el-table-column>
            <el-table-column prop="remark"
                             label="备注"
                             width="120">
            </el-table-column>
        </el-table>
    </div>

</div>

<script>
    new Vue({
        el: '#app',
        data() {
            return {
                tableheight: null,
                loading: false,
                array: [],
                sym: 0,
                data: [],
                orgname: '',
                orgcode: '',
                model: { year: '' },
                exportyear:''
            }
        },
        methods: {
            fetchlist() {
                let vm = this;
                //var top = $("#app").offset().top;
                ////自适应表高度
                //var height = Math.max(0, document.documentElement.clientHeight) - top - 1;
                //vm.tableheight = height 
                axios({ url: `/api/qiyefile/getlist`,method:'post', data: { orgname: vm.orgname, orgcode: vm.orgcode } }).then(res => {
                    vm.data = res.data.content.data
                    console.log(res.data.content.data)
                    vm.array = res.data.content.array
                    vm.loading = false
                }).catch(err => { console.log(err); vm.loading = false })
            },
            objectSpanMethod({ row, column, rowIndex, columnIndex }) {
                let vm = this
                let c = row.count

                console.log(row.count)
                if (columnIndex < 9 || columnIndex > 11) {
                    //只有一行返回count个，其他的返回0
                    if (vm.array.find(item => { return item == rowIndex }) != null) {

                        return {
                            rowspan: c,
                            colspan: 1
                        };
                    } else {
                        return {
                            rowspan: 0,
                            colspan: 0
                        };
                    }
                }
            },
            querydata() {
                let vm = this
                vm.fetchlist()
            },
            query() {
                //axios.get(`/api/qiyefile/export`).then(res => {
                //    console.log(res)
                //}).catch(err => {
                //    console.log(err)
                //})

                window.location.href ='/api/qiyefile/export'
            },
            downtemplate() {
                window.location.href = `/api/qiyefile/downtemplate`
            },
            beforeUpload() {
                let vm = this
                vm.model.year = vm.exportyear.getFullYear()
                if (vm.model.year === '') {
                    vm.$message.error('请先选择年份!');
                    return false
                }
                
            }
        },
        mounted() {
            let vm = this;
            vm.loading = true
            vm.fetchlist()
        }
    })
</script>

