
@{
    ViewData["Title"] = "结构特征分布";
}
<style type="text/CSS">
    .divSelected {
        width: 23%;
        height: 100px;
        float: left;
        background-color: white;
        margin-right: 10px;
    }

    .divSelectedTitle {
        margin: auto;
        height: 28px;
        color: #0975c2;
        text-align: center;
        line-height: 30px;
        border: solid 1px #2497f3;
        font-size: 22px;
    }

    .divSelectedSplit {
        height: 1px;
        background-color: white;
    }

    .divSelectedDesc {
        margin: auto;
        height: 68px;
        color: red;
        text-align: center;
        line-height: 70px;
        border: solid 1px #2497f3;
        font-size: 24px;
    }
    .divUnSelected1 {
        width: 23%;
        height: 100px;
        float: left;
        background-color: white;
        margin-right: 10px;
    }

    .divUnSelectedTitle1 {
        margin: auto;
        height: 28px;
        color: #0975c2;
        text-align: center;
        line-height: 30px;
        border: solid 1px #2497f3;
        font-size: 22px;
    }

    .divUnSelectedSplit1 {
        height: 1px;
        background-color: white;
    }

    .divUnSelectedDesc1 {
        margin: auto;
        height: 68px;
        color: red;
        text-align: center;
        line-height: 70px;
        border: solid 1px #2497f3;
        font-size: 24px;
    }
    .divUnSelected2 {
        width: 23%;
        height: 100px;
        float: left;
        background-color: white;
        margin-right: 10px;
    }

    .divUnSelectedTitle2 {
        margin: auto;
        height: 28px;
        color: #0975c2;
        text-align: center;
        line-height: 30px;
        border: solid 1px #2497f3;
        font-size: 22px;
    }

    .divUnSelectedSplit2 {
        height: 1px;
        background-color: white;
    }

    .divUnSelectedDesc2 {
        margin: auto;
        height: 68px;
        color: red;
        text-align: center;
        line-height: 70px;
        border: solid 1px #2497f3;
        font-size: 24px;
    }
    .divUnSelected3 {
        width: 23%;
        height: 100px;
        float: left;
        background-color: #2497f3;
        margin-right: 10px;
    }

    .divUnSelectedTitle3 {
        margin: auto;
        height: 28px;
        color: white;
        text-align: center;
        line-height: 30px;
        border: solid 1px #2497f3;
        font-size: 22px;
    }

    .divUnSelectedSplit3 {
        height: 1px;
        background-color: white;
    }

    .divUnSelectedDesc3 {
        margin: auto;
        height: 68px;
        color: white;
        text-align: center;
        line-height: 70px;
        border: solid 1px #2497f3;
        font-size: 24px;
    }
</style>
<script>
    layui.use(['element', 'layer', 'form'], function () {
        var layer = layui.layer
        var form = layui.form;
        var $ = layui.$
        var element = layui.element
        var fs1 = -1;
        var fs2 = 60;
        function inittable1(name, score1, score2) {
            var datas = [];
            var countdata = [];
            axios.get(`/api/EchartReportParms/GetIndustryData?name=${name}&score1=${score1}&score2=${score2}`)
                .then(function (res) {
                    console.log("进入")
                    datas.splice(0, datas.length);
                    countdata.splice(0, countdata.length);
                    $.each(res.data.content.list, function (index, item) {
                        datas.push(item.industry)
                        countdata.push(item.count)
                    })
                    var myChart1 = echarts.init(document.getElementById('main1'));
                    var option = {
                        color: ['#3398DB'],
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                                type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                            }
                        },
                        grid: {
                            left: '3%',
                            right: '4%',
                            bottom: '3%',
                            containLabel: true
                        },
                        xAxis: [
                            {
                                type: 'category',
                                data: datas,
                                axisTick: {
                                    alignWithLabel: true
                                }
                            }
                        ],
                        yAxis: [
                            {
                                type: 'value'
                            }
                        ],
                        series: [
                            {
                                name: '数据',
                                type: 'bar',
                                barWidth: '60%',
                                data: countdata
                            }
                        ]
                    };
                    myChart1.setOption(option);
                })
                .catch(function (error) {
                    console.log(error)
                });
        }
        function inittable2(name, score1, score2) {
            var datas2 = [];
            var countdata2 = [];
            axios.get(`/api/EchartReportParms/GetTownData?name=${name}&score1=${score1}&score2=${score2}`)
                .then(function (res) {
                    datas2.splice(0, datas2.length);
                    countdata2.splice(0, countdata2.length);
                    $.each(res.data.content.list, function (index, item) {
                        console.log(item)
                        datas2.push(item.town)
                        countdata2.push(item.count)
                    })

                    var myChart2 = echarts.init(document.getElementById('main2'));
                    var option2 = {
                        color: ['#3398DB'],
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                                type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                            }
                        },
                        grid: {
                            left: '3%',
                            right: '4%',
                            bottom: '3%',
                            containLabel: true
                        },
                        xAxis: [
                            {
                                type: 'category',
                                data: datas2,
                                axisTick: {
                                    alignWithLabel: true
                                }
                            }
                        ],
                        yAxis: [
                            {
                                type: 'value'
                            }
                        ],
                        series: [
                            {
                                name: '数据',
                                type: 'bar',
                                barWidth: '60%',
                                data: countdata2
                            }
                        ]
                    };
                    myChart2.setOption(option2);
                })
                .catch(function (error) {
                    console.log(error)
                });
        }
        function table1(name, score1, score2) {
            var datas = [];
            var countdata = [];
            axios.get(`/api/EchartReportParms/GetIndustryData?name=${name}&score1=${score1}&score2=${score2}`)
                .then(function (res) {
                    datas.splice(0, datas.length);
                    countdata.splice(0, countdata.length);
                        $.each(res.data.content.list, function (index, item) {
                            datas.push(item.industry)
                            countdata.push(item.count)
                        })
                        var myChart1 = echarts.init(document.getElementById('main1'));
                        var option = {
                            color: ['#3398DB'],
                            tooltip: {
                                trigger: 'axis',
                                axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                                    type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                                }
                            },
                            grid: {
                                left: '3%',
                                right: '4%',
                                bottom: '3%',
                                containLabel: true
                            },
                            xAxis: [
                                {
                                    type: 'category',
                                    data: datas,
                                    axisTick: {
                                        alignWithLabel: true
                                    }
                                }
                            ],
                            yAxis: [
                                {
                                    type: 'value'
                                }
                            ],
                            series: [
                                {
                                    name: '数据',
                                    type: 'bar',
                                    barWidth: '60%',
                                    data: countdata
                                }
                            ]
                        };
                        myChart1.setOption(option);
                    })
                .catch(function (error) {
                    console.log(error)
                });
        }
        
        function table2(name,score1, score2) {
            var datas2 = [];
            var countdata2 = [];
            axios.get(`/api/EchartReportParms/GetTownData?name=${name}&score1=${score1}&score2=${score2}`)
                .then(function (res) {
                    datas2.splice(0, datas2.length);
                    countdata2.splice(0, countdata2.length);
                    $.each(res.data.content.list, function (index, item) {
                        console.log(item)
                        datas2.push(item.town)
                        countdata2.push(item.count)
                    })

                    var myChart2 = echarts.init(document.getElementById('main2'));
                    var option2 = {
                        color: ['#3398DB'],
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                                type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                            }
                        },
                        grid: {
                            left: '3%',
                            right: '4%',
                            bottom: '3%',
                            containLabel: true
                        },
                        xAxis: [
                            {
                                type: 'category',
                                data: datas2,
                                axisTick: {
                                    alignWithLabel: true
                                }
                            }
                        ],
                        yAxis: [
                            {
                                type: 'value'
                            }
                        ],
                        series: [
                            {
                                name: '数据',
                                type: 'bar',
                                barWidth: '60%',
                                data: countdata2
                            }
                        ]
                    };
                    myChart2.setOption(option2);
                })
                .catch(function (error) {
                    console.log(error)
                });
            //form.on('select(myselect2)', function (data) {
            //    console.log(data.value)
            //    axios.get(`/api/EchartReportParms/GetTownData?name=${data.value}&score1=${score1}&score2=${score2}`)
            //        .then(function (res) {
            //            datas2.splice(0, datas2.length);
            //            countdata2.splice(0, countdata2.length);
            //            $.each(res.data.content.list, function (index, item) {
            //                console.log(item)
            //                datas2.push(item.town)
            //                countdata2.push(item.count)
            //            })

            //            var myChart2 = echarts.init(document.getElementById('main2'));
            //            var option2 = {
            //                color: ['#3398DB'],
            //                tooltip: {
            //                    trigger: 'axis',
            //                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
            //                        type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
            //                    }
            //                },
            //                grid: {
            //                    left: '3%',
            //                    right: '4%',
            //                    bottom: '3%',
            //                    containLabel: true
            //                },
            //                xAxis: [
            //                    {
            //                        type: 'category',
            //                        data: datas2,
            //                        axisTick: {
            //                            alignWithLabel: true
            //                        }
            //                    }
            //                ],
            //                yAxis: [
            //                    {
            //                        type: 'value'
            //                    }
            //                ],
            //                series: [
            //                    {
            //                        name: '数据',
            //                        type: 'bar',
            //                        barWidth: '60%',
            //                        data: countdata2
            //                    }
            //                ]
            //            };
            //            myChart2.setOption(option2);
            //        })
            //        .catch(function (error) {
            //            console.log(error)
            //        });
            //})
        }
        form.on('select(myselect)', function (data) {
                axios.get(`/api/EchartReportParms/GetIndustryData?name=${data.value}&score1=${fs1}&score2=${fs2}`)
                    .then(function (res) {
                        var datas = [];
                        var countdata = [];
                        datas.splice(0, datas.length);
                        countdata.splice(0, countdata.length);
                        $.each(res.data.content.list, function (index, item) {
                            datas.push(item.industry)
                            countdata.push(item.count)
                        })
                        var myChart1 = echarts.init(document.getElementById('main1'));
                        var option = {
                            color: ['#3398DB'],
                            tooltip: {
                                trigger: 'axis',
                                axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                                    type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                                }
                            },
                            grid: {
                                left: '3%',
                                right: '4%',
                                bottom: '3%',
                                containLabel: true
                            },
                            xAxis: [
                                {
                                    type: 'category',
                                    data: datas,
                                    axisTick: {
                                        alignWithLabel: true
                                    }
                                }
                            ],
                            yAxis: [
                                {
                                    type: 'value'
                                }
                            ],
                            series: [
                                {
                                    name: '数据',
                                    type: 'bar',
                                    barWidth: '60%',
                                    data: countdata
                                }
                            ]
                        };
                        myChart1.setOption(option);
                    })
                    .catch(function (error) {
                        console.log(error)
                    });
            })
        form.on('select(myselect2)', function (data) {
                console.log(data.value)
                axios.get(`/api/EchartReportParms/GetTownData?name=${data.value}&score1=${fs1}&score2=${fs2}`)
                    .then(function (res) {
                        var datas2 = [];
                        var countdata2 = [];
                        datas2.splice(0, datas2.length);
                        countdata2.splice(0, countdata2.length);
                        $.each(res.data.content.list, function (index, item) {
                            console.log(item)
                            datas2.push(item.town)
                            countdata2.push(item.count)
                        })

                        var myChart2 = echarts.init(document.getElementById('main2'));
                        var option2 = {
                            color: ['#3398DB'],
                            tooltip: {
                                trigger: 'axis',
                                axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                                    type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                                }
                            },
                            grid: {
                                left: '3%',
                                right: '4%',
                                bottom: '3%',
                                containLabel: true
                            },
                            xAxis: [
                                {
                                    type: 'category',
                                    data: datas2,
                                    axisTick: {
                                        alignWithLabel: true
                                    }
                                }
                            ],
                            yAxis: [
                                {
                                    type: 'value'
                                }
                            ],
                            series: [
                                {
                                    name: '数据',
                                    type: 'bar',
                                    barWidth: '60%',
                                    data: countdata2
                                }
                            ]
                        };
                        myChart2.setOption(option2);
                    })
                    .catch(function (error) {
                        console.log(error)
                    });
            })
        //鼠标悬浮变小指头
        $(".divSelected").mouseover(function () {
            $(".divSelected").css("cursor", "pointer");
        });
        $(".divUnSelected1").mouseover(function () {
            $(".divUnSelected1").css("cursor", "pointer");
        });
        $(".divUnSelected2").mouseover(function () {
            $(".divUnSelected2").css("cursor", "pointer");
        });
        $(".divUnSelected3").mouseover(function () {
            $(".divUnSelected3").css("cursor", "pointer");
        });
        //鼠标点击切换Div的颜色
        $('.divSelected').click(function () {
            table1($('#myselect').val(),90, 150)
            table2($('#myselect2').val(), 90, 150)
            fs1 = 90;
            fs2 = 150;
            $('.divSelectedTitle').css("color", 'white')
            $('.divUnSelectedTitle1').css("color", '#2497f3')
            $('.divUnSelectedTitle2').css("color", '#2497f3')
            $('.divUnSelectedTitle3').css("color", '#2497f3')
            $('.divSelectedDesc').css("color", 'white')
            $('.divUnSelectedDesc1').css("color", 'red')
            $('.divUnSelectedDesc2').css("color", 'red')
            $('.divUnSelectedDesc3').css("color", 'red')
            $('.divSelected').css("background-color", '#2497f3')
            $(".divUnSelected1").css("background-color", 'white')
            $(".divUnSelected2").css("background-color", 'white')
            $(".divUnSelected3").css("background-color", 'white')
        })
        $('.divUnSelected1').click(function () {
            table1($('#myselect').val(),80, 90)
            table2($('#myselect2').val(), 80, 90)
            fs1 = 80;
            fs2 = 90;
            $('.divSelectedTitle').css("color", '#2497f3')
            $('.divUnSelectedTitle1').css("color", 'white')
            $('.divUnSelectedTitle2').css("color", '#2497f3')
            $('.divUnSelectedTitle3').css("color", '#2497f3')
            $('.divSelectedDesc').css("color", 'red')
            $('.divUnSelectedDesc1').css("color", 'white')
            $('.divUnSelectedDesc2').css("color", 'red')
            $('.divUnSelectedDesc3').css("color", 'red')
            $('.divSelected').css("background-color", 'white')
            $(".divUnSelected1").css("background-color", '#2497f3')
            $(".divUnSelected2").css("background-color", 'white')
            $(".divUnSelected3").css("background-color", 'white')
            
        })
        $('.divUnSelected2').click(function () {
            table1($('#myselect').val(),60, 80)
            table2($('#myselect2').val(), 60, 80)
            fs1 = 60;
            fs2 = 80;
            $('.divSelectedTitle').css("color", '#2497f3')
            $('.divUnSelectedTitle1').css("color", '#2497f3')
            $('.divUnSelectedTitle2').css("color", 'white')
            $('.divUnSelectedTitle3').css("color", '#2497f3')
            $('.divSelectedDesc').css("color", 'red')
            $('.divUnSelectedDesc1').css("color", 'red')
            $('.divUnSelectedDesc2').css("color", 'white')
            $('.divUnSelectedDesc3').css("color", 'red')
            $('.divSelected').css("background-color", 'white')
            $(".divUnSelected1").css("background-color", 'white')
            $(".divUnSelected2").css("background-color", '#2497f3')
            $(".divUnSelected3").css("background-color", 'white')
        })
        $('.divUnSelected3').click(function () {
            table1($('#myselect').val(),-1, 60)
            table2($('#myselect2').val(), -1, 60)
            fs1 = -1;
            fs2 = 60;
            $('.divSelectedTitle').css("color", '#2497f3')
            $('.divUnSelectedTitle1').css("color", '#2497f3')
            $('.divUnSelectedTitle2').css("color", '#2497f3')
            $('.divUnSelectedTitle3').css("color", 'white')
            $('.divSelectedDesc').css("color", 'red')
            $('.divUnSelectedDesc1').css("color", 'red')
            $('.divUnSelectedDesc2').css("color", 'red')
            $('.divUnSelectedDesc3').css("color", 'white')
            $('.divSelected').css("background-color", 'white')
            $(".divUnSelected1").css("background-color", 'white')
            $(".divUnSelected2").css("background-color", 'white')
            $(".divUnSelected3").css("background-color", '#2497f3')
        })
        axios.get(`/api/EchartReportParms/GetScorePercentage?`).then(function (res) {
            console.log(res.data.content.value1)
            //赋值
            $('#value1').html(res.data.content.value1)
            $('#value11').html(res.data.content.list1percentage)
            $('#value2').html(res.data.content.value2)
            $('#value22').html(res.data.content.list2percentage)
            $('#value3').html(res.data.content.value3)
            $('#value33').html(res.data.content.list3percentage)
            $('#value4').html(res.data.content.value4)
            $('#value44').html(res.data.content.list4percentage)
        }).catch(function (error) {
            console.log(error)
            });
        $(function () {
            inittable1("", -1, 60);
            inittable2("", -1, 60);
        })
    })
</script>
<div style="margin-left:18px">
    <div style="width: 100%;padding-top:15px">
        <div><div style="float:left;background-color:#2497f3;width:10px; height:20px; margin-right:5px;"></div><h3>综合评分结构分布</h3></div>
        <div style="padding-top:10px">
        <div class="divSelected" id="divSelected" >
            <div class="divSelectedTitle">
                90分以上
            </div>
            <div class="divSelectedSplit">
            </div>
            <div class="divSelectedDesc">
                <span id='value1'></span> 户<span id="value11"></span>
            </div>
        </div>
        <div class="divUnSelected1">
            <div class="divUnSelectedTitle1">
                80分-90分(含)
            </div>
            <div class="divUnSelectedSplit1">
            </div>
            <div class="divUnSelectedDesc1">
                <span id='value2'></span>户 <span id="value22"></span>
            </div>
        </div>
        <div class="divUnSelected2">
            <div class="divUnSelectedTitle2">
                60分-80分(含)
            </div>
            <div class="divUnSelectedSplit2">
            </div>
            <div class="divUnSelectedDesc2">
                <span id='value3'></span> 户<span id="value33"></span>
            </div>
        </div>
        <div class="divUnSelected3">
            <div class="divUnSelectedTitle3">
                60分(含)以下
            </div>
            <div class="divUnSelectedSplit3">
            </div>
            <div class="divUnSelectedDesc3">
                <span id='value4'></span>户 <span id="value44"></span>
            </div>
        </div>
            </div>
    </div>
    <div class="layui-inline" style="padding-top:30px">
        <div style="float:left;background-color:#2497f3;width:10px; height:20px; margin-right:5px;"></div> <h3 >行业结构特征分布</h3>
        <div class="layui-form" style="padding-top:10px">
            <select name="" id="myselect" lay-filter="myselect">
                <option value="">企业数量</option>
                <option value="TAX_PER_MU">亩均税收规模</option>
                <option value="ADD_VALUE_PER_MU">亩均增加值规模</option>
                <option value="PRODUCTIVITY">全员劳动生产率</option>
                <option value="pollutant_discharge">单位排污权增加值</option>
                <option value="Energy_consumption">单位能耗增加值</option>
                <option value="NET_ASSETS_PROFIT">净资产收益率</option>
                <option value="R_D_EXPENDITURE_RATIO">研发经费投入比</option>
            </select>
        </div>
    </div>
    <div id="main1" style="width: 98%;height:300px;padding-top:-10px"></div>
    <div class="layui-inline" style="padding-top:30px" >
        <div style="float:left;background-color:#2497f3;width:10px; height:20px; margin-right:5px;"></div> <h3>空间结构特征分布</h3>
        <div class="layui-form" style="padding-top:10px">
            <select name="" id="myselect2" lay-filter="myselect2">
                <option value="">企业数量</option>
                <option value="TAX_PER_MU">亩均税收规模</option>
                <option value="ADD_VALUE_PER_MU">亩均增加值规模</option>
                <option value="PRODUCTIVITY">全员劳动生产率</option>
                <option value="pollutant_discharge">单位排污权增加值</option>
                <option value="Energy_consumption">单位能耗增加值</option>
                <option value="NET_ASSETS_PROFIT">净资产收益率</option>
                <option value="R_D_EXPENDITURE_RATIO">研发经费投入比</option>
            </select>
        </div>
    </div>
    <div id="main2" style="width: 98%;height:300px;"></div>
</div>
