
@{
    ViewData["Title"] = "客户接口授权";
}


<style>
    .v-modal { display: none; }
    #app { margin-top: 15px; padding: 15px; background-color: #fff; overflow: hidden; zoom: 1; }
    .span-tag { margin-right: 20px; margin-top: 9px; margin-bottom: 9px; padding: 0px 10px; cursor: pointer; color: #606266; border: 1px solid rgba(64,158,255,.2); height: 32px; line-height: 30px; border-radius: 4px; display: inline-block; }
    .el-tag { margin-right: 20px; margin-top: 9px; margin-bottom: 9px; }
    .el-dialog__body { padding: 15px; }
</style>
<div id="app">
    <el-row style="height: 48px; line-height: 48px;border-bottom: 1px solid #EBEEF5;margin-bottom:15px;">
        <el-col :span="16">
            <p>{{data.customerName}}</p>
        </el-col>
        <el-col :span="8" style="text-align: right;">           
            <span style="color:#409EFF;cursor:pointer;padding-right:15px;" @@click="showDialog">添加其它接口</span>
            <span style="color:#67C23A;cursor:pointer;" @@click="updateServiceAuthorize">保存本次修改</span>
        </el-col>
    </el-row>


    <div v-for="service in data.serviceinfos">
        <el-row style="padding:15px;background-color:#ECF5FF;border-left:5px solid #50BFFF;">
            <el-col :span="12">
                <span>{{service.serviceName}}</span>(<small>{{service.serviceCode}}</small> )
            </el-col>
            <el-col :span="12" style="text-align: right;">
                <span type="danger" style="color:#F56C6C;cursor:pointer;" @@click="removeServiceAuthorize(service.serviceId)">移除此接口授权</span>
            </el-col>
        </el-row>
        <div style="padding-left:15px;padding-right:15px;">
            <div style="padding-top:10px;"><span>已授权字段</span></div>
            <el-tag v-for="(field,index) in service.alreadyFields" :disable-transitions="false" @@close="fieldDel(field,service,index)" closable>
                {{ field.fieldName }}
            </el-tag>
            <div style="border-top: 1px solid #EBEEF5;padding-top:10px;margin-top:10px;"><span>未授权字段</span></div>
            <div style="min-height:30px;">
                <span v-for="(field,index) in service.noryetfields" class="span-tag" href="#" @@click="fieldAdd(field,service,index)">{{ field.fieldName}}</span>
            </div>
            
        </div>
    </div>
    <div style="width:1690px;">
        <el-dialog title="给用户授权新接口" :visible.sync="centerDialogVisible" width="68%" style="font-size:15px" modal-append-to-body="false" close-on-click-modal="false">
            <div style="margin-bottom:10px;margin-top:10px;" v-for="item in notbindData">
                <el-row style="padding:15px;background-color:#ECF5FF;">
                    <el-col :span="18">
                        <el-checkbox :indeterminate="item.isIndeterminate" v-model="item.checkAll" @@change="handleCheckAllChange(item)"> <span>{{item.serviceName}}</span>(<small>{{item.serviceCode}}</small> ) </el-checkbox>
                    </el-col>
                </el-row>
                <div style="padding:15px 15px 0px 15px;">
                    <el-checkbox-group v-model="item.checkedFields" @@change="handleCheckedCitiesChange(item)">
                        <el-checkbox v-for="field in item.fields" :label="field" style="margin:9px 15px 9px 0px;">
                            <span>{{field.fieldName}}</span>(<small>{{field.fieldCode}}</small> )
                        </el-checkbox>
                    </el-checkbox-group>
                </div>
            </div>

            <div slot="footer" class="dialog-footer">
                <el-button @@click="centerDialogVisible= false">取 消</el-button>
                <el-button type="primary" @@click="dialogSave">保 存</el-button>
            </div>
        </el-dialog>
    </div>

</div>

<script>
    layui.use(['element', 'layer'], function () {
        var layer = layui.layer
        var form = layui.form;
        var $ = layui.$
    })
</script>
<script>

    new Vue({
        el: "#app",
        data: function () {
            return {
                data: {},
                activeNames: ['1'],
                checkAll: false,
                checkedCities: [],
                cities: ['字段1', '字段2', '字段3', '字段4', '字段5', '字段6', '字段7', '字段8', '字段9', '字段10', '字段11', '字段12'],
                cities1: ['字段1', '字段2', '字段3', '字段4', '字段5', '字段6', '字段7', '字段8', '字段9', '字段10', '字段11', '字段12'],
                isIndeterminate: false,
                centerDialogVisible: false,
                pageSize: 2,
                currentPage: 1,
                total: 0,
                notbindData: [],
                thisCustomer: {},
                customerid: '',
                customerName: ''//查询条件 客户名称

            }
        },
        methods: {
            fetchList: function () {
                let vm = this
                axios.get(`/api/DcsCustomerServiceData/${vm.customerid}`)
                    .then(function (response) {
                        console.log(response.data);
                        if (response.data.isSuccess == false) { 
                            vm.$confirm('客户id错误', '警告', {
                                confirmButtonText: '返回至客户信息管理页面',
                                showCancelButton: false,
                                showClose: false,
                                closeOnClickModal: false,
                                type: 'warning'
                            }).then(() => {                                
                                window.location.replace('/DcsCustomerInfo/index');
                            })
                        }
                        vm.data = response.data.content
                    })
                    .catch(function (error) {
                        console.log(error)
                    });
            },
            fetchNotBindService: function () {
                let vm = this
                axios.get(`/api/DcsCustomerServiceData/notbind/${vm.customerid}`)
                    .then(function (response) {
                        console.log(response.data);
                        vm.notbindData = response.data.content
                    })
                    .catch(function (error) {
                        console.log(error)
                    });
            },
            showDialog: function () {
                this.centerDialogVisible = true
                //console.log(customer)

                //this.thisCustomer = { customerid: customer.customerId, customerName: customer.customerName }
                this.fetchNotBindService()
            },
            dialogSave: function () {
                let vm = this
                //console.log(this.thisCustomer)
                //console.log(vm.notbindData)

                ///取出选中的所有接口以及字段
                let data = vm.notbindData
                let parms = []
                for (let i = 0; i < data.length; i++) {
                    let checkeds = data[i].checkedFields

                    if (checkeds.length <= 0) {
                        continue;
                    }
                    let servicep = {}
                    servicep.serviceId = data[i].serviceId
                    fields = []
                    for (let j = 0; j < checkeds.length; j++) {
                        fields.push(checkeds[j].fieldId)
                    }
                    servicep.fieldIds = fields
                    parms.push(servicep)
                }
                if (parms.length <= 0) {
                    vm.$message({ title: '异常', message: '未选择任何接口', type: 'error' })
                    return
                }
                axios.post('/api/DcsCustomerServiceData', { CustomerId: vm.customerid, ServiceInfos: parms })
                    .then(function (response) {
                        if (!response.data.isSuccess) {
                            vm.$message({ title: '失败', message: response.data.message, type: 'error' })
                            return;
                        }
                        vm.$message({ title: '成功', message: response.data.message, type: 'success' })
                        vm.fetchList();
                        vm.centerDialogVisible = false
                    })
                    .catch(function (error) {
                        vm.$message({ title: '异常', message: '发生了预料之外的错误!', type: 'error' })
                        console.log(error);
                    });
                console.log(parms)

            },
            handleCheckAllChange(data) {
                //console.log(data)
                data.checkedFields = data.checkAll ? data.fields : [];
                data.isIndeterminate = false;
            },
            removeServiceAuthorize: function ( serviceId) {
                
                let vm = this
                axios.delete(`/api/DcsCustomerServiceData/${vm.customerid}/${serviceId}`)
                    .then(function (response) {
                        console.log(response.data);

                        if (response.data.isSuccess) {
                            vm.$message({ title: '成功', message: '已除成功删除!', type: 'success' })
                            vm.fetchList()
                            return
                        }
                        vm.$message({ title: '异常', message: response.data.message, type: 'error' })

                    })
                    .catch(function (error) {
                        vm.$message({ title: '异常', message: '发生了预料之外的错误!', type: 'error' })
                        console.log(error)
                    });
            },
            updateServiceAuthorize: function () {
              
                let vm = this
                var parms = {}
                parms.customerId = vm.customerid
                let serviceinfos = vm.data.serviceinfos
                let services=[]
                for (let i = 0; i < serviceinfos.length; i++) {
                    let fields = serviceinfos[i]
                    let service = {}
                    service.serviceId = fields.serviceId
                    let fs = []
                    for (let j = 0; j < fields.alreadyFields.length; j++) {
                        fs.push(fields.alreadyFields[j].fieldId)
                    }
                    service.FieldIds = fs
                    services.push(service)
                }
                parms.serviceInfos = services
                axios.post('/api/DcsCustomerServiceData/updatefield', parms)
                    .then(function (response) {
                        if (!response.data.isSuccess) {
                            vm.$message({ title: '失败', message: response.data.message, type: 'error' })
                            return;
                        }
                        vm.$message({ title: '成功', message: response.data.message, type: 'success' })
                        vm.fetchList();
                    })
                    .catch(function (error) {
                        vm.$message({ title: '异常', message: '发生了预料之外的错误!', type: 'error' })
                        console.log(error);
                    });
            },
            cancelServiceAuthorize: function (data) {
            },
            fieldAdd: function (field, service, index) {
                console.log(field)
                console.log(service)
                service.alreadyFields.push(field)
                service.noryetfields.splice(index, 1)
            },
            fieldDel: function (field, service, index) {
                if (service.alreadyFields.length <= 1) {
                    this.$message({ title: '异常', message: '最少要有一个授权字段!', type: 'error' })
                    return
                }
                service.noryetfields.push(field)
                service.alreadyFields.splice(index, 1)
            },
            handleCheckedCitiesChange(data) {
                //console.log(data)
                let checkedCount = data.checkedFields.length;
                data.checkAll = checkedCount === data.fields.length;
                data.isIndeterminate = checkedCount > 0 && checkedCount < data.fields.length;
            },
            handleSizeChange(val) {
                console.log(`每页 ${val} 条`);
                this.pageSize = val;
                this.fetchList();
            },
            handleCurrentChange(val) {
                console.log(`当前页: ${val}`);
                this.currentPage = val;
                this.fetchList();
            },

        },
        mounted: function () {
            let vm = this
            let url = location.href;
            
            let strs = url.split("=")
            console.log(strs)
            
            let id = strs[strs.length - 1]
            if (strs.length <= 1) { 
                id='null'
            }
            console.log(id)
            vm.customerid = id
            vm.fetchList();
        }

    });
</script>