
@{
    ViewData["Title"] = "问题信息管理";
}
<style>
    .v-modal {
        display: none;
    }

    #app {
        margin-top: 15px;
        padding: 15px;
        background-color: #fff;
    }

    /*.el-table__body td, .el-table__body th {
        padding: 1px;
    }

    .el-table__header td, .el-table__header th {
        height: 40px;
        padding: 6px 0px;
    }*/
</style>
<div id="app">

    <el-form :inline="true" class="demo-form-inline">
        <el-form-item label="帮助类型：">
            <el-select v-model="searchHelpTypeId" placeholder="请选择">
                <el-option v-for="item in searchoptHelpType"
                           :key="item.helpTypeId"
                           :label="item.helpTypaName"
                           :value="item.helpTypeId"
                           :disabled="item.disabled">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="公告标题：">
            <el-input placeholder="公告标题" v-model="searchHelpTitle"></el-input>
        </el-form-item>
        <el-form-item label="是否重要：">
            <el-select v-model="searchImportantFlag" placeholder="请选择">
                <el-option v-for="item in searchoptImportantFlag"
                           :key="item.value"
                           :label="item.label"
                           :value="item.value"
                           :disabled="item.disabled">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="是否审核：">
            <el-select v-model="searchAuditFlag" placeholder="请选择">
                <el-option v-for="item in searchoptauditFlag"
                           :key="item.value"
                           :label="item.label"
                           :value="item.value"
                           :disabled="item.disabled">
                </el-option>
            </el-select>
        </el-form-item>
    </el-form>
    <el-form :inline="true" class="demo-form-inline">
        <el-form-item>
            <el-button size="small" type="primary" @@click="fetchList">查询</el-button>
        </el-form-item>
        <el-form-item>
            <el-button size="small" type="primary" @@click="handleAdd">添加</el-button>
        </el-form-item>
        <el-form-item>
            <el-button size="small" type="danger" @@click="batchDelete">批量删除</el-button>
        </el-form-item>
    </el-form>

    <el-table ref="multipleTable"
              :data="data"
              :border="true"
              tooltip-effect="dark"
              style="width: 100%"
              @@selection-change="handleSelectionChange">
        <el-table-column type="selection"
                         width="100">
        </el-table-column>

        <el-table-column label="帮助类型"
                         prop="help_Type_Name">
        </el-table-column>
        <el-table-column label="公告标题"
                         prop="help_Title">
        </el-table-column>
        <el-table-column label="是否重要"
                         prop="important_Flag">
        </el-table-column>
        <el-table-column label="是否审核"
                         prop="audit_Flag">
            <template slot-scope="scope">
                <p v-if="scope.row.audit_Flag===2">
                    未审核
                </p>
                <p v-else-if="scope.row.audit_Flag===0">
                    未通过
                </p>
                <p v-else-if="scope.row.audit_Flag===1">
                    通过
                </p>
            </template>
        </el-table-column>
        <el-table-column label="审核时间" width="200"
                         prop="audited_Date">
        </el-table-column>
        <el-table-column label="审核人"
                         prop="audited_By">
        </el-table-column>
        <el-table-column label="操作" width="260px">
            <template slot-scope="scope">
                <el-button size="mini"
                           v-on:click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                <el-button size="mini"
                           v-on:click="handleExamine(scope.$index, scope.row)">审核</el-button>
                <el-button size="mini"
                           type="danger"
                           v-on:click="handleDelete(scope.$index, scope.row)">删除</el-button>
            </template>
        </el-table-column>
    </el-table>
    <el-pagination @@size-change="handleSizeChange"
                   @@current-change="handleCurrentChange"
                   :current-page="currentPage"
                   :page-sizes="[10, 20, 30, 40]"
                   :page-size="pageSize"
                   layout="total, sizes, prev, pager, next, jumper"
                   :total="total">
    </el-pagination>
    <el-dialog :title="dialogTitle"
               :visible.sync="centerDialogVisible"
               width="30%"
               center>
        <el-form :label-position="labelPosition" label-width="160px" :model="form" :rules="rules" ref="form">
            <el-form-item label="ID：" prop="help_Id" hidden>
                <el-input placeholder="ID" v-model="form.help_Id"></el-input>
            </el-form-item>
            <el-form-item label="帮助类型：">
                <el-select v-model="form.help_Type_Id" placeholder="请选择">
                    <el-option v-for="item in optHelpType"
                               :key="item.helpTypeId"
                               :label="item.helpTypaName"
                               :value="item.helpTypeId"
                               :disabled="item.disabled">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="公告标题：" prop="help_Title">
                <el-input placeholder="公告标题" v-model="form.help_Title"></el-input>
            </el-form-item>
            <el-form-item label="是否重要：">
                <el-select v-model="form.important_Flag" placeholder="请选择">
                    <el-option v-for="item in optImportantFlag"
                               :key="item.value"
                               :label="item.label"
                               :value="item.value"
                               :disabled="item.disabled">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="公告内容" prop="help_Content">
                <el-input type="textarea" :rows="3" v-model="form.help_Content"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button v-on:click="dialogCancel()">取 消</el-button>
            <el-button type="primary" v-on:click="dialogSave('form')">确 定</el-button>
        </div>
    </el-dialog>
</div>
<script>
    layui.use(['element', 'layer'], function () {
        var layer = layui.layer
        var form = layui.form;
        var $ = layui.$
    })
</script>
<script>
    new Vue({
        el: "#app",
        data: function () {
            return {
                data: [],
                centerDialogVisible: false,
                currentPage: 1,
                pageSize: 10,
                total: 0,
                multipleSelection: [],//获取批量选择的数据
                searchoptImportantFlag: [
                    { value: '', label: '请选择' },
                    { value: '1', label: '是' },
                    { value: '0', label: '否' },
                ],
                searchoptauditFlag: [
                    { value: '', label: '请选择' },
                    { value: '1', label: '是' },
                    { value: '0', label: '否' },
                ],
                optImportantFlag: [
                    { value: '', label: '请选择' },
                    { value: '1', label: '是' },
                    { value: '0', label: '否' },
                ],
                searchoptHelpType: [],
                searchHelpTypeId: '',
                searchImportantFlag: '',
                searchAuditFlag: '',
                searchHelpTitle: '',
                optHelpType: [],
                form: {
                    help_Id: '',
                    help_Type_Id: '',
                    help_Title: '',
                    important_Flag: '',
                    help_Content: '',
                },
                rules: {
                    helpTitle: [
                        { required: true, message: '公告标题不能为空', trigger: 'blur' },
                    ],
                    helpContent: [
                        { required: true, message: '公告内容不能为空', trigger: 'blur' }
                    ],
                },
                formLabelWidth: '160px',
                dialogTitle: '',
                labelPosition: 'left',
                IsCreate: true,//是否新增
            }
        },
        methods: {
            fetchList: function () {
                let vm = this
                axios.get(`/api/syshelpinfodata/${vm.pageSize}/${vm.currentPage}?helpTypeId=${vm.searchHelpTypeId}&helpTitle=${vm.searchHelpTitle}&auditFlag=${vm.searchAuditFlag}&importantFlag=${vm.searchImportantFlag}`)
                    .then(function (response) {
                        vm.data = response.data.content.data;
                        vm.total = response.data.content.total;
                    })
                    .catch(function (error) {
                        console.log(error)
                    });
            },
            handleEdit: function (index, row) {
                //编辑
                let vm = this
                let rowstr = JSON.stringify(row)
                let formdata = JSON.parse(rowstr)
                vm.IsCreate = false
                vm.dialogTitle = "编辑信息"
                vm.getHelpTypeType();
                vm.form = formdata;
                console.log(formdata);
                vm.centerDialogVisible = true
            },
            handleExamine: function (index, row) {
                //审核
                let vm = this;
                let rowstr = JSON.stringify(row);
                let formdata = JSON.parse(rowstr);
                console.log(formdata);
                if (formdata.audit_Flag === 1 || formdata.audit_Flag === 0) {
                    this.$message.error('已审核的不能再次审核!');
                    return false;
                }
                let url = "/api/syshelpinfodata/UpdateExamine";
                let method = "POST";
                let confirm_title = "帮助信息名称为：【" + formdata.help_Title + "】";
                layer.confirm(confirm_title, {
                    btn: ['通过审核', '不通过审核', '取消'], btn3: function (index, layero) {
                        layer.close(index);
                    }
                }, function (index, layero) {
                    let model = {
                        HelpTypeId: formdata.help_Id,
                        AuditFlag: 1
                    };
                    axios({ url: url, method: method, data: model })
                        .then(function (response) {
                            console.log(response);
                            layer.msg(response.data.message);
                            if (!response.data.isSuccess) {
                                return;

                            }
                            vm.fetchList();
                            layer.msg(response.data.message);
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                }, function (index) {
                    //不通过;
                    let model = {
                        HelpTypeId: formdata.help_Id,
                        AuditFlag: 0
                    };
                    axios({ url: url, method: method, data: model })
                        .then(function (response) {
                            console.log(response);
                            layer.msg(response.data.message);
                            if (!response.data.isSuccess) {
                                return;
                            }
                            vm.fetchList();
                            layer.msg(response.data.message);
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                }
                );


            },
            handleDelete: function (index, row) {
                let vm = this
                //删除

                //弹出确认框
                this.$confirm('此操作将删除该条信息, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios.delete('/api/syshelpinfodata/' + row.help_Id)
                        .then(function (response) {
                            if (!response.data.isSuccess) {
                                vm.$message({ title: '失败', message: response.data.message, type: 'error' })
                                return;
                            }
                            vm.$message({ title: '成功', message: '删除成功', type: 'success' })
                            vm.fetchList();
                            vm.centerDialogVisible = false
                        })
                        .catch(function (error) {
                            vm.$message({ title: '异常', message: '发生了预料之外的错误!', type: 'error' })
                            console.log(error);
                        });

                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });

            },
            handleAdd: function () {
                let vm = this
                vm.IsCreate = true
                vm.getHelpTypeType();
                vm.resetForm()
                vm.dialogTitle = "添加信息"
                vm.centerDialogVisible = true
                //添加
            },
            dialogCancel: function () {
                let vm = this;

                vm.centerDialogVisible = false
            },
            dialogSave: function (formName) {
                let vm = this;
                let model = "";
                vm.$refs[formName].validate((valid) => {
                    if (valid) {
                        model = {
                            HelpTypeId: vm.form.help_Type_Id,
                            HelpTitle: vm.form.help_Title,
                            HelpContent: vm.form.help_Content,
                            ImportantFlag: vm.form.important_Flag == "否" ? 0 : 1,
                        };
                        console.log(model);
                        let url = "/api/syshelpinfodata";
                        let method = "POST";
                        if (vm.IsCreate != true) {
                            url = `/api/syshelpinfodata/${vm.form.help_Id}`;
                            method = "PUT";

                        }
                        axios({ url: url, method: method,data: model })
                            .then(function (response) {
                                if (!response.data.isSuccess) {
                                    vm.$message({ title: '失败', message: response.data.message, type: 'error' })
                                    return;
                                }
                                vm.$message({ title: '成功', message: response.data.message, type: 'success' })
                                vm.fetchList();
                                vm.centerDialogVisible = false
                            })
                            .catch(function (error) {
                                vm.$message({ title: '异常', message: '发生了预料之外的错误!', type: 'error' })
                                console.log(error);
                            });

                    } else {
                        console.log('error submit!!');
                        return;
                    }
                });
            },
            resetForm() {
                let vm = this;
                vm.form.help_Id = ''
                vm.form.help_Type_Id = ''
                vm.form.help_Title = ''
                vm.form.important_Flag = ''
                vm.form.help_Content = ''
            },
            handleSizeChange(val) {
                this.pageSize = val;
                this.fetchList();
            },
            handleCurrentChange(val) {
                this.currentPage = val;
                this.fetchList();
            },

            handleSelectionChange(val) {
                this.multipleSelection = val;

            },
            getHelpTypeType: function () {
                let vm = this;
                axios.get('/api/SysHelpInfoData/SelectHelpType')
                    .then(function (response) {
                        vm.optHelpType = response.data.content;
                        vm.optHelpType.unshift({ helpTypaName: '请选择', helpTypeId: '' });
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            getselHelpType: function () {
                let vm = this;
                axios.get('/api/SysHelpInfoData/SelectHelpType')
                    .then(function (response) {
                        vm.searchoptHelpType = response.data.content;
                        vm.searchoptHelpType.unshift({ helpTypaName: '请选择', helpTypeId: '' });
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            batchDelete() {
                let vm = this;
                let batchdatas = this.multipleSelection;
                if (batchdatas.length == 0) {
                    vm.$message("请先选中数据再进行操作！");
                    return;
                }
                let ids = '';
                for (let i = 0; i < batchdatas.length; i++) {
                    ids += `&ids=${batchdatas[i].help_Id}`;
                };
                ids = ids.substring(1, ids.length)

                vm.$confirm(`此操作将删除${batchdatas.length}条系统帮助信息, 是否继续?`, '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios.delete('/api/syshelpinfodata/batchdelete?' + ids)
                        .then(function (response) {
                            if (!response.data.isSuccess) {
                                vm.$message({ title: '失败', message: response.data.message, type: 'error' })
                                return;
                            }
                            vm.$message({ title: '成功', message: '删除成功', type: 'success' })
                            vm.fetchList();
                            vm.centerDialogVisible = false
                        })
                        .catch(function (error) {
                            vm.$message({ title: '异常', message: '发生了预料之外的错误!', type: 'error' })
                            console.log(error);
                        });

                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
                console.log(this.multipleSelection);
            }
        },
        mounted: function () {
            let vm = this
            vm.fetchList();
            vm.getselHelpType();
        }

    });
</script>

