
@{
    ViewData["Title"] = "Index";
}


<style>
    .v-modal {
        display: none;
    }

    #app {
        margin-top: 15px;
        padding: 15px;
        background-color: #fff;
    }
</style>
<div id="app">

    <el-form :inline="true" class="demo-form-inline">
        <div class="layui-row">
            <el-form-item label="错误代码代码">
                <el-input placeholder="错误代码代码" v-model="searchForm.ErrorCode"></el-input>
            </el-form-item>
            <el-form-item label="错误代码名称">
                <el-input placeholder="错误代码名称" v-model="searchForm.ErrorName"></el-input>
            </el-form-item>
            <el-form-item label="是否审核通过">
                <el-select v-model="searchForm.AuditFlag">
                    <el-option v-for="item in Audit"
                               v-key="item.key"
                               :label="item.value"
                               :value="item.key"></el-option>
                </el-select>
            </el-form-item>
        </div>
    </el-form>
    <el-form :inline="true" class="demo-form-inline">
        <el-form-item>
            <el-button type="primary" @@click="fetchList">查询</el-button>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @@click="handleAdd">添加</el-button>
        </el-form-item>
        <el-form-item>
            <el-button type="danger" @@click="batchDelete">批量删除</el-button>
        </el-form-item>
    </el-form>

    <el-table ref="multipleTable"
              :data="data"
              :border="true"
              v-loading="loading"
              tooltip-effect="dark"
              style="width: 100%"
              @@selection-change="handleSelectionChange">
        <el-table-column type="selection"
                         width="55">
        </el-table-column>
        <el-table-column label="错误代码代码"
                         prop="errorCodeCode">
        </el-table-column>
        <el-table-column label="错误代码名称"
                         prop="errorCodeName">
        </el-table-column>
        <el-table-column label="是否重要"
                         prop="importantFlag">
            <template slot-scope="scope">
                <p v-if="scope.row.importantFlag===null"></p>
                <p v-else-if="scope.row.importantFlag===0">否</p>
                <p v-else-if="scope.row.importantFlag===1">是</p>
            </template>
        </el-table-column>
        <el-table-column label="是否审核"
                         prop="auditFlag">
            <template slot-scope="scope">
                <p v-if="scope.row.auditFlag===null">未审核</p>
                <p v-else-if="scope.row.auditFlag===0">审核未通过</p>
                <p v-else-if="scope.row.auditFlag===1">审核通过</p>
            </template>
        </el-table-column>
        <el-table-column label="审核时间"
                         prop="auditedDate"
                         :formatter="dateFormat">
        </el-table-column>
        <el-table-column label="审核人"
                         prop="auditedBy">
        </el-table-column>
        <el-table-column label="操作" width="240px">

            <template slot-scope="scope">
                <el-button size="mini"
                           v-on:click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                <el-button size="mini"
                           v-on:click="handleAudit(scope.$index, scope.row)">审核</el-button>
                <el-button size="mini"
                           type="danger"
                           v-on:click="handleDelete(scope.$index, scope.row)">删除</el-button>
            </template>
        </el-table-column>
    </el-table>


    <el-pagination @@size-change="handleSizeChange"
                   @@current-change="handleCurrentChange"
                   :current-page="pageNum"
                   :page-sizes="[10, 20, 30, 40]"
                   :page-size="pageSize"
                   layout="total, sizes, prev, pager, next, jumper"
                   :total="total">
    </el-pagination>

    <el-dialog :title="dialogTitle"
               :visible.sync="centerDialogVisible"
               width="30%"
               center>
        <el-form :label-position="labelPosition" label-width="160px" :model="form" :rules="rules" ref="form">
            <el-form-item label="错误代码代码" prop="ErrorCodeCode">
                <el-input v-model="form.ErrorCodeCode"></el-input>
            </el-form-item>
            <el-form-item label="错误代码名称" prop="ErrorCodeName">
                <el-input v-model="form.ErrorCodeName"></el-input>
            </el-form-item>
            <el-form-item label="是否重要标志" prop="ImportantFlag">
                <el-select v-model="form.ImportantFlag">
                    <el-option v-for="item in Important"
                               v-key="item.key"
                               :label="item.value"
                               :value="item.key"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="错误代码描述">

                <el-input type="textarea"
                          :rows="2"
                          placeholder="请输入内容"
                          v-model="form.ErrorCodeDesc">
                </el-input>
            </el-form-item>

        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button v-on:click="dialogCancel()">取 消</el-button>
            <el-button type="primary" v-on:click="dialogSave('form')">确 定</el-button>
        </div>
    </el-dialog>

</div>
<script>
    layui.use(['element', 'layer'], function () {
        var layer = layui.layer
        var form = layui.form;
        var $ = layui.$
    })
</script>
<script>

    new Vue({
        el: "#app",
        data: function () {
            return {
                data: [],
                loading: true,
                relateData: [],
                imageUrl: [],
                centerDialogVisible: false,
                BaseInfoView: false,
                pageNum: 1,
                pageSize: 10,
                total: 0,
                multipleSelection: [],//获取批量选择的数据
                searchCode: '',
                searchName: '',
                Audit: [{ key: null, value: '全部' },{ key: '0', value: '否' }, { key: '1', value: '是' }],
                Important: [{ key: '0', value: '否' }, { key: '1', value: '是' }],
                form: {
                    errorCodeId:'',
                    ErrorCodeCode: '',
                    ErrorCodeName: '',
                    ImportantFlag: '',
                    ErrorCodeDesc: '',
                },
                searchForm: {
                    pageNum: 1,
                    pageSize: 10,
                    AuditFlag: '',
                    ErrorCode: '',
                    ErrorName: ''
                },
                rules: {
                    ErrorCodeCode: [
                        { required: true, message: '代码不能为空', trigger: 'blur' },
                        { min: 2, max: 10, message: '长度在 2 到 10 个字符', trigger: 'blur' }
                    ],
                    ErrorCodeName: [
                        { required: true, message: '名字不能为空', trigger: 'blur' },
                        { min: 2, max: 10, message: '长度在 2 到 10 个字符', trigger: 'blur' }
                    ]


                },
                formLabelWidth: '160px',
                dialogTitle: '',
                labelPosition: 'left',
                IsCreate: true,//是否新增
            }
        },
        methods: {
            fetchList: function () {
                let vm = this
                vm.loading = true;
                axios({ url: `/api/SysErrorCodeInfo/Search1/`, method: 'post', async: false, data: vm.searchForm })
                    .then(function (response) {
                        vm.data = response.data.content.data;
                        vm.total = response.data.content.total;
                        vm.loading = false
                    })
                    .catch(function (error) {
                        vm.loading = false
                        console.log(error)
                    });

            },
            dateFormat(row, column, cellValue, index) {
                var daterc = row[column.property];
                if (daterc != null) {
                    return daterc.substring(0,10);
                }
            },
            handleEdit: function (index, row) {
                //编辑
                let vm = this
                let rowstr = JSON.stringify(row)
                let formdata = JSON.parse(rowstr)
                vm.IsCreate = false
                vm.dialogTitle = "编辑错误代码信息"

                //vm.form = formdata;
                vm.form.errorCodeId = formdata.errorCodeId;
                vm.form.ErrorCodeCode = formdata.errorCodeCode;
                vm.form.ErrorCodeName = formdata.errorCodeName;
                vm.form.ImportantFlag = formdata.importantFlag != null? formdata.importantFlag.toString():'';
                vm.form.ErrorCodeDesc = formdata.errorCodeDesc;

                vm.centerDialogVisible = true
            },
            handleAudit: function (index, row) {

                let vm = this;

                let url = "/api/SysErrorCodeInfo/UpdateExamine";
                let method = "POST";
                let confirm_title = "错误代码名称为：【" + row.errorCodeName + "】";

                layer.confirm(confirm_title, {
                    btn: ['通过审核', '不通过审核', '取消'], btn3: function (index, layero) {

                        layer.close(index);

                    }
                }, function (index, layero) {
                    let model = {
                        ErrorCodeId: row.errorCodeId,
                        AuditFlag: 1
                    };
                    axios({ url: url, method: method, data: model })
                        .then(function (response) {
                            console.log(response);
                            layer.msg(response.data.message);
                            if (!response.data.isSuccess) {
                                return;
                            }
                            layer.close(index);
                            vm.fetchList();
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                }, function (index) {
                    //alert("不通过");
                    let model = {
                        ErrorCodeId: row.errorCodeId,
                        AuditFlag: 0
                    };
                    axios({ url: url, method: method, data: model })
                        .then(function (response) {
                            console.log(response);
                            layer.msg(response.data.message);
                            if (!response.data.isSuccess) {
                                return;
                            }
                            layer.close(index);
                            vm.fetchList();
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                }
                );
            },
            handleDelete: function (index, row) {
                let vm = this
                //删除

                this.$confirm('此操作将删除该错误代码信息, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios.delete('/api/SysErrorCodeInfo/' + row.errorCodeId)
                        .then(function (response) {
                            if (!response.data.isSuccess) {
                                vm.$message({ title: '失败', message: response.data.message, type: 'error' })
                                return;
                            }
                            vm.$message({ title: '成功', message: '删除成功', type: 'success' })
                            vm.fetchList();
                            vm.centerDialogVisible = false
                        })
                        .catch(function (error) {
                            vm.$message({ title: '异常', message: '发生了预料之外的错误!', type: 'error' })
                            console.log(error);
                        });

                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });

            },
            handleAdd: function () {
                let vm = this;
                vm.IsCreate = true;
                vm.resetForm();
                vm.imageUrl = [];
                vm.dialogTitle = "添加错误代码信息";
                vm.centerDialogVisible = true;


                //添加
            },
            dialogCancel: function () {
                let vm = this;

                vm.centerDialogVisible = false
            },
            dialogSave: function (formName) {
                let vm = this;
                vm.$refs[formName].validate((valid) => {
                    if (valid) {
                        let url = "/api/SysErrorCodeInfo/add";
                        let method = "POST";
                        if (vm.IsCreate != true) {
                            url = `/api/SysErrorCodeInfo/${vm.form.errorCodeId}`;
                            method = "PUT";
                        }

                        axios({ url: url, method: method, data: vm.form })
                            .then(function (response) {
                                if (!response.data.isSuccess) {
                                    vm.$message({ title: '失败', message: response.data.message, type: 'error' })
                                    return;
                                }
                                vm.$message({ title: '成功', message: response.data.message, type: 'success' })
                                vm.fetchList();
                                vm.centerDialogVisible = false
                            })
                            .catch(function (error) {
                                vm.$message({ title: '异常', message: '发生了预料之外的错误!', type: 'error' })
                                console.log(error);
                            });

                    } else {
                        console.log('error submit!!');
                        return;
                    }
                });

            },
            resetForm() {
                let vm = this;
                vm.errorCodeId='',
                vm.form.ErrorCodeCode = ''
                vm.form.ErrorCodeName = ''
                vm.form.ImportantFlag = ''
                vm.form.ErrorCodeDesc = ''

            },
            handleSizeChange(val) {
                console.log(`每页 ${val} 条`);
                this.form.pageSize = val;
                this.fetchList();
            },
            handleCurrentChange(val) {
                this.form.pageNum = val;
                this.fetchList();
            },
            toggleSelection(rows) {
                if (rows) {
                    rows.forEach(row => {
                        this.$refs.multipleTable.toggleRowSelection(row);
                    });
                } else {
                    this.$refs.multipleTable.clearSelection();
                }
            },
            handleSelectionChange(val) {
                this.multipleSelection = val;

            },
            batchDelete() {
                let batchdatas = this.multipleSelection;
                if (batchdatas.length == 0) {
                    return;
                }
                let ids = '';
                for (let i = 0; i < batchdatas.length; i++) {
                    ids += `&ErrorCodeId=${batchdatas[i].errorCodeId}`;
                };
                ids = ids.substring(1, ids.length)
                let vm = this
                vm.$confirm(`此操作将删除${batchdatas.length}条错误代码信息, 是否继续?`, '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios.delete('/api/SysErrorCodeInfo/BatchDelete?' + ids)
                        .then(function (response) {
                            if (!response.data.isSuccess) {
                                vm.$message({ title: '失败', message: response.data.message, type: 'error' })
                                return;
                            }
                            vm.$message({ title: '成功', message: '删除成功', type: 'success' })
                            vm.fetchList();
                            vm.centerDialogVisible = false
                        })
                        .catch(function (error) {
                            vm.$message({ title: '异常', message: '发生了预料之外的错误!', type: 'error' })
                            console.log(error);
                        });

                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
                console.log(this.multipleSelection);
            }
        },
        mounted: function () {
            let vm = this
            vm.loading = true;
            vm.fetchList();
        }

    });
</script>