
@{
    ViewData["Title"] = "企业评分排序";
}
<style>
    .el-table__body tr {
        height: 12px;
    }

    .eltable th {
        padding: 5px
    }

    .eltable td {
        padding: 0px
    }

    .eltablet th {
        padding: 3px
    }

    .eltablet td {
        padding: 3px
    }

    .el-dialog__header {
        background-color: #eef1f6;
    }

    .el-dialog__body {
        background-color: #eef1f6;
    }

    .el-dialog {
        left: 10%;
    }
    /*.table-th {
        background-color:red
    }*/
    .v-modal {
        display: none;
    }

    #app {
        margin-top: 15px;
        padding: 15px;
        background-color: #fff;
    }

    .tableCss {
        text-align: center;
        border: 1px solid black;
    }

        .tableCss td {
            border: 1px solid black;
        }

    .tableCss2 {
        text-align: center;
    }

        .tableCss2 td {
            text-align: center;
        }

    .divWhite {
        width: 120px;
        height: 60px;
        padding-top: 20px;
        vertical-align: middle;
        border-radius: 10px;
        background-color: #f1e7e7;
        border-color: Black;
        margin: auto;
    }

    .mjzjzdiv {
        width: 120px;
        height: 60px;
        padding-top: 20px;
        vertical-align: middle;
        border-radius: 10px;
        background-color: #99FF00;
        margin: auto;
    }

    .mjssdiv {
        width: 120px;
        height: 60px;
        padding-top: 20px;
        vertical-align: middle;
        border-radius: 10px;
        background-color: #99FF00;
        margin: auto;
    }

    .jzcsyldiv {
        width: 120px;
        height: 60px;
        padding-top: 20px;
        vertical-align: middle;
        border-radius: 10px;
        background-color: #99FF00;
        margin: auto;
    }

    .dwpwqzjzdiv {
        width: 120px;
        height: 60px;
        padding-top: 20px;
        vertical-align: middle;
        border-radius: 10px;
        background-color: Red;
        margin: auto;
    }

    .dwnhdiv {
        width: 120px;
        height: 60px;
        padding-top: 20px;
        vertical-align: middle;
        border-radius: 10px;
        background-color: Red;
        margin: auto;
    }

    .qyldscldiv {
        width: 120px;
        height: 60px;
        padding-top: 20px;
        vertical-align: middle;
        border-radius: 10px;
        background-color: Yellow;
        margin: auto;
    }

    .yfjftrbdiv {
        width: 120px;
        height: 60px;
        padding-top: 20px;
        vertical-align: middle;
        border-radius: 10px;
        background-color: Yellow;
        margin: auto;
    }
</style>
<div id="app">
    <el-form :inline="true" class="demo-form-inline">
        <el-form-item label="企业名称：">
            <el-input placeholder="企业名称" v-model="OrgName"></el-input>
        </el-form-item>
        <el-form-item label="年份">
            <el-date-picker v-model="orgyear"
                            type="year"
                            format="yyyy"
                            placeholder="选择年">
            </el-date-picker>
        </el-form-item>
        <el-form-item>
            <el-button size="small" type="primary" @@click="fetchList">查询</el-button>
        </el-form-item>
        <el-form-item>
            <el-button size="small" type="primary" @@click="importall">导出</el-button>
        </el-form-item>
        <el-form-item label="所属行业：">
            <el-select v-model="searchshhys" placeholder="请选择" @@change="IndustrySel">
                <el-option v-for="item in searchshhy"
                           :key="item.name"
                           :label="item.name"
                           :value="item.name"
                           :disabled="item.disabled">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="所在街道（园区）：">
            <el-select v-model="searchjds" placeholder="请选择" @@change="TownSel">
                <el-option v-for="item in searchjd"
                           :key="item.name"
                           :label="item.name"
                           :value="item.name"
                           :disabled="item.disabled">
                </el-option>
            </el-select>
        </el-form-item>

    </el-form>
    <el-table :header-cell-style="{background:'#eef1f6',color:'#606266'}"
              ref="multipleTable"
              :data="data"
              :border="true"
              tooltip-effect="dark"
              class="eltable"
              @@sort-change="compositE_SCOREsort"
              style="width: 100%"
              v-loading="loading">
        <el-table-column label="年份"
                         width="100"
                         prop="perioD_YEAR">
        </el-table-column>
        <el-table-column label="企业名称"
                         fixed
                         width="150"
                         prop="orG_NAME">
            <template slot-scope="scope">
                <el-button v-on:click="handleClick(scope.$index, scope.row)" type="text" size="small">{{scope.row.orG_NAME}}</el-button>
            </template>
        </el-table-column>
        <el-table-column label="所属行业"
                         width="150"
                         prop="industry">
        </el-table-column>
        <el-table-column label="所在街道（园区）"
                         width="150"
                         prop="town">
        </el-table-column>
        <el-table-column label="数据状态"
                         width="100"
                         prop="datA_STATUS">

        </el-table-column>
        <el-table-column label="数据提示"
                         width="300"
                         prop="datA_TIP">

        </el-table-column>
        <el-table-column label="综合评分"
                         sortable="custom"
                         width="150"
                         align="center"
                         prop="compositE_SCORE">
        </el-table-column>
        <el-table-column label="亩均税收得分"
                         sortable
                         width="150"
                         prop="taX_PER_MU_SCORE">
        </el-table-column>
        <el-table-column label="亩均增加值得分"
                         sortable
                         width="200"
                         prop="adD_VALUE_PER_MU_SCORE">
        </el-table-column>
        <el-table-column label="全员劳动生产率得分"
                         sortable
                         width="200"
                         prop="productivitY_SCORE">
        </el-table-column>
        <el-table-column label="单位增加值主要污染物排放得分"
                         sortable
                         width="300"
                         prop="pollutanT_DISCHARGE_SCORE">
        </el-table-column>
        <el-table-column label="单位能耗增加值得分"
                         sortable
                         width="200"
                         prop="energY_CONSUMPTION_SCORE">
        </el-table-column>
        <el-table-column label="净资产收益率得分"
                         sortable
                         width="200"
                         prop="neT_ASSETS_PROFIT_SCORE">
        </el-table-column>
        <el-table-column label=" 研发经费支出占主营业务收入比重得分"
                         sortable
                         width="320"
                         prop="r_D_EXPENDITURE_RATIO_SCORE">
        </el-table-column>
        <el-table-column label="所有者权益（万元）"
                         sortable
                         width="200"
                         prop="owneR_EQUITY">
        </el-table-column>
        <el-table-column label="从业人员平均数（人）"
                         sortable
                         width="200"
                         prop="workeR_MONTH">
        </el-table-column>
        <el-table-column label="工业增加值（万元）"
                         sortable
                         width="200"
                         prop="industrial_added_value">
        </el-table-column>
        <el-table-column label="污染物排放（吨）"
                         sortable
                         width="220"
                         prop="pollutant_discharge2">
        </el-table-column>
        <el-table-column label="实缴税金（万元）"
                         sortable
                         width="200"
                         prop="fact_tax">
        </el-table-column>
        <el-table-column label="用地面积（亩）"
                         sortable
                         width="200"
                         prop="lanD_AREA">
        </el-table-column>
        <el-table-column label="利润总额（万元）"
                         sortable
                         width="200"
                         prop="profit">
        </el-table-column>
        @*<el-table-column label="净资产"
                             sortable
                             width="150"
                             prop="assets">
            </el-table-column>*@
        <el-table-column label="主营业务收入（万元）"
                         sortable
                         width="200"
                         prop="maiN_BUSINESS_INCOME">
        </el-table-column>
        <el-table-column label=" 研发经费支出（万元）"
                         sortable
                         width="200"
                         prop="r_D_EXPENDITURE">
        </el-table-column>
        <el-table-column label="工业企业能源消费量（吨标准煤）"
                         sortable
                         width="280"
                         prop="energy_consumption2">
        </el-table-column>
        <el-table-column label="亩均税收（万元/亩）"
                         sortable
                         width="200"
                         prop="taX_PER_MU">
        </el-table-column>
        <el-table-column label=" 亩均增加值（万元/亩）"
                         sortable
                         width="220"
                         prop="adD_VALUE_PER_MU">
        </el-table-column>
        <el-table-column label="单位能耗增加值（万元/吨标煤）"
                         sortable
                         width="280"
                         prop="energY_CONSUMPTION">
        </el-table-column>
        <el-table-column label="单位增加值主要污染物排放当量（当量/万元）"
                         sortable
                         width="280"
                         prop="pollutanT_DISCHARGE">
        </el-table-column>
        <el-table-column label="全员劳动生产率（万元/人）"
                         sortable
                         width="260"
                         prop="productivity">
        </el-table-column>
        <el-table-column label="净资产收益率（%）"
                         sortable
                         width="180"
                         prop="neT_ASSETS_PROFIT">
        </el-table-column>
        <el-table-column label="研发经费支出占主营业务收入比重（%）"
                         sortable
                         width="200"
                         prop="r_D_EXPENDITURE_RATIO">
        </el-table-column>
    </el-table>
    <el-pagination @@size-change="handleSizeChange"
                   @@current-change="handleCurrentChange"
                   :current-page="currentPage"
                   :page-sizes="[10, 20, 30, 40]"
                   :page-size="pageSize"
                   layout="total, sizes, prev, pager, next, jumper"
                   :total="total">
    </el-pagination>

    <el-dialog :title="dialogTitle"
               :visible.sync="centerDialogVisible"
               width="1011px"
               top="10%">
        <div style="padding-top:-100px">
            <el-tabs v-model="activeName" @@tab-click="">
                <el-tab-pane label="基本信息" name="first">
                    <el-row>
                        <el-col :span="12"><div class="grid-content bg-purple">企业名称：<span id="industryName"></span></div></el-col>
                        <el-col :span="12"><div class="grid-content bg-purple-light">登记状态：<span id="registratioN_STATUS"></span></div></el-col>
                    </el-row>
                    <el-row style="margin-top:20px">
                        <el-col :span="12"><div class="grid-content bg-purple"></div>统一社会信用代码：<span id="orgCode"></span></el-col>
                        <el-col :span="12"><div class="grid-content bg-purple-light">注册资本（万元）：<span id="registratioN_MONEY"></span></div></el-col>
                    </el-row>
                    <el-row style="margin-top:20px">
                        <el-col :span="12"><div class="grid-content bg-purple"></div>法定代表人：<span id="legaL_REPRESENTATIVE"></span></el-col>
                        <el-col :span="12"><div class="grid-content bg-purple-light">企业类型：<span id="registratioN_TYPE"></span></div></el-col>
                    </el-row>
                    <el-row style="margin-top:20px">
                        <el-col :span="12">成立日期：<span id="registratioN_DATE"></span></el-col>
                        <el-col :span="12">注册地址：<span id="address"></span></el-col>
                    </el-row>
                    <el-row style="margin-top:20px">
                        <el-col :span="12">所属行业：<span id="Industry"></span></el-col>
                    </el-row>
                    <el-table ref="multipleTable"
                              :data="data1"
                              :border="true"
                              tooltip-effect="dark"
                              class="eltablet"
                              style="width: 100%">
                        <el-table-column label="分支机构名称"
                                         prop="suB_ORG_NAME">
                        </el-table-column>
                        <el-table-column label="所属省份"
                                         prop="province">
                        </el-table-column>
                        <el-table-column label="登记状态"
                                         prop="registratioN_STATUS">
                        </el-table-column>
                        <el-table-column label="成立日期"
                                         sortable
                                         prop="creatioN_DATE">
                        </el-table-column>
                    </el-table>
                    <el-pagination @@size-change="handleSizeChange1"
                                   @@current-change="handleCurrentChange1"
                                   :current-page="currentPage1"
                                   :page-sizes="[5, 10, 15, 20]"
                                   :page-size="pageSize1"
                                   layout="total, sizes, prev, pager, next, jumper"
                                   :total="total1">
                    </el-pagination>
                </el-tab-pane>
                <el-tab-pane label="企业综合效益展示" name="second">
                    <table class="tableCss" style="width: 100%; text-align: center;">
                        <tr>
                            <td>
                                评<br />
                                定<br />
                                分<br />
                                类
                            </td>
                            <td>
                                A
                            </td>
                            <td>
                                评<br />
                                定<br />
                                排<br />
                                名
                            </td>
                            <td>
                                <span id="COMPOSITE_RANK"></span>|<span id="pdpm"></span>
                            </td>
                            <td>
                                综<br />
                                合<br />
                                评<br />
                                分
                            </td>
                            <td>
                                <span id="COMPOSITE_SCORE"></span>
                            </td>
                            <td>
                                分<br />
                                类<br />
                                评<br />
                                分
                            </td>
                            <td id="sixclick" title="亩均税收+亩均增加值+单位能耗增加值+全员劳动生成率+净资产收益率+研发经费支出占主营业务收入比重">
                                6<br />
                                <div style="width: 90%; height: 1px; background-color: Black;margin:auto;">
                                </div>
                                <span id="sixpm"></span>|<span id="sixflpf"></span>
                            </td>
                            <td id="oneclick" title="单位增加值主要污染物排放当量">
                                1<br />
                                <div style="width: 90%; height: 1px; background-color: Black;margin:auto;">
                                </div>
                                <span id="onepm"></span>|<span id="onepf"></span>
                            </td>
                            <td >
                                X<br />
                                <div style="width: 90%; height: 1px; background-color: Black; margin:auto;">
                                </div>
                                0|<span id="xpf"></span>
                            </td>
                        </tr>
                    </table>
                    <p>
                        &nbsp;
                    </p>
                    <table class="tableCss2" style="width: 100%;">
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <div class="divWhite">
                                    实缴税金<br />
                                    <span id="fact_tax"></span>万元
                                </div>
                            </td>
                            <td></td>
                            <td>
                                <div class="divWhite">
                                    工业企业能源消费量<br />
                                    <span id="Energy_consumption2"></span>吨标煤
                                </div>
                            </td>
                            <td colspan="3">
                                <img alt="" src="~/images/jiantou/bigright.png" />
                            </td>
                            <td>
                                <div class="dwnhdiv">
                                    单位能耗增加值<br />
                                    <span id="dwnh"></span>万元/吨标煤
                                </div>
                            </td>
                            <td rowspan="5">
                                <div style="float:left;width: 2px;height: 350px; background: #2fd1f6;"></div>
                            </td>
                            <td>
                                <div class="divWhite">
                                    利润总额<br />
                                    <span id="PROFIT"></span>万元
                                </div>
                            </td>
                            <td></td>
                            <td>
                                <div class="divWhite">
                                    研发经费支出<br />
                                    <span id="R_D_EXPENDITURE"></span>万元
                                </div>
                            </td>
                        </tr>
                        <tr style="height: 30px;">
                            <td></td>
                            <td></td>
                            <td>
                                <img alt="" src="~/images/jiantou/top.png" style="width: 20px; height: 30px" />
                            </td>
                            <td></td>
                            <td>
                                <img alt="" src="~/images/jiantou/top.png" style="width: 20px; height: 30px" />
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <img alt="" src="~/images/jiantou/bottom.png" style="width: 20px; height: 30px" />
                            </td>
                            <td></td>
                            <td>
                                <img alt="" src="~/images/jiantou/bottom.png" style="width: 20px; height: 30px" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="mjzjzdiv">
                                    亩均增加值<br />
                                    <span id="mjzjz"></span>万元/亩
                                </div>
                            </td>
                            <td>
                                <img alt="" src="~/images/jiantou/left.png" style="width: 30px; height: 20px" />
                            </td>
                            <td>
                                <div class="divWhite">
                                    用地面积<br />
                                    <span id="LAND_AREA"></span>亩
                                </div>
                            </td>
                            <td>
                                <img alt="" src="~/images/jiantou/left.png" style="width: 30px; height: 20px" />
                            </td>
                            <td>
                                <div class="divWhite">
                                    工业增加值<br />
                                    <span id="Industrial_added_value"></span>万元
                                </div>
                            </td>
                            <td>
                                <img alt="" src="~/images/jiantou/right.png" style="width: 30px; height: 20px" />
                            </td>
                            <td>
                                <div class="divWhite">
                                    从业人员平均数<br />
                                    <span id="WORKER_MONTH"></span>人
                                </div>
                            </td>
                            <td>
                                <img alt="" src="~/images/jiantou/right.png" style="width: 30px; height: 20px" />
                            </td>
                            <td>
                                <div class="qyldscldiv">
                                    全员劳动生产率<br />
                                    <span id="qyldscl"></span>万元/人
                                </div>
                            </td>
                            <td>
                                <div class="divWhite">
                                    所有者权益<br />
                                    <span id="ownerequity"></span>万元
                                </div>
                            </td>
                            <td></td>
                            <td>
                                <div class="divWhite">
                                    主营业务收入<br />
                                    <span id="MAIN_BUSINESS_INCOME"></span>万元
                                </div>
                            </td>
                        </tr>
                        <tr style="height: 15px;">
                            <td></td>
                            <td></td>
                            <td>
                                <img alt="" src="~/images/jiantou/bottom.png" style="width: 20px; height: 30px" />
                            </td>
                            <td></td>
                            <td>
                                <img alt="" src="~/images/jiantou/bottom.png" style="width: 20px; height: 30px" />
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <img alt="" src="~/images/jiantou/bottom.png" style="width: 20px; height: 30px" />
                            </td>
                            <td></td>
                            <td>
                                <img alt="" src="~/images/jiantou/bottom.png" style="width: 20px; height: 30px" />
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <div class="mjssdiv">
                                    亩均税收<br />
                                    <span id="mjss"></span>万元/亩
                                </div>
                            </td>
                            <td></td>
                            <td>
                                <div class="divWhite">
                                    污染物排放<br />
                                    <span id="pollutant_discharge"></span>吨
                                </div>
                            </td>
                            <td colspan="3">
                                <img alt="" src="~/images/jiantou/bigright.png" />
                            </td>
                            <td>
                                <div class="dwpwqzjzdiv">
                                    单位排污权增加值<br />
                                    <span id="dwpwqzjz"></span>万元/当量
                                </div>
                            </td>
                            <td>
                                <div class="jzcsyldiv">
                                    净资产收益率<br />
                                    <span id="jzcsyl"></span>%
                                </div>
                            </td>
                            <td></td>
                            <td>
                                <div class="yfjftrbdiv">
                                    研发经费支出占主营业务收入比重<br />
                                    <span id="yfjftrb"></span>%
                                </div>
                            </td>
                        </tr>
                    </table>
                </el-tab-pane>

            </el-tabs>
        </div>

    </el-dialog>
</div>
<script>
    layui.use(['element', 'layer'], function () {
        var layer = layui.layer
        var form = layui.form;
        var $ = layui.$
        $(function () {
            $('#sixclick').poshytip();
            $('#oneclick').poshytip();
        })
       
    })
</script>
<script>
    new Vue({
        el: "#app",
        data: function () {
            return {
                field: '',
                desc: '',
                data: [],
                data1: [],
                currentPage: 1,
                pageSize: 10,
                activeName: 'first',
                loading: true,
                total: 0,
                total1: 0,
                orgyear: '',
                searchjds: '',
                searchshhys: '',
                searchjd: [],
                searchshhy: [],
                OrgName: '',
                dialogTitle: '',
                centerDialogVisible: false,
                pageSize1: 5,
                currentPage1: 1,
            }
        },
        methods: {
            fetchList: function () {
                let vm = this
                let y = ''
                if (vm.orgyear != '' && vm.orgyear != null) {
                    y = vm.orgyear.getFullYear()
                }
                axios.get(`/api/ApdFctOrgIndexV/${vm.pageSize}/${vm.currentPage}?OrgName=${vm.OrgName}&year=${y}&field=${vm.field}&desc=${vm.desc}`)
                    .then(function (response) {
                        vm.data = response.data.content.data;
                        vm.total = response.data.content.total;
                        vm.loading = false
                    })
                    .catch(function (error) {
                        console.log(error)
                        vm.loading = false
                    });
            },
            compositE_SCOREsort: function (column, prop, order) {
                console.log(column)
                let vm = this;
                let y = ''
                let field = ""
                if (vm.orgyear != '' && vm.orgyear != null) {
                    y = vm.orgyear.getFullYear()
                }
                vm.field = column.prop;
                if (column.order == "ascending") {
                    vm.desc = ""
                } else {
                    vm.desc = "desc"
                }
                axios.get(`/api/ApdFctOrgIndexV/${vm.pageSize}/${vm.currentPage}?OrgName=${vm.OrgName}&year=${y}&field=${vm.field}&desc=${vm.desc}`)
                    .then(function (response) {
                        console.log("字段", vm.field);
                        vm.data = response.data.content.data;
                        vm.total = response.data.content.total;
                        vm.loading = false
                    })
                    .catch(function (error) {
                        console.log(error)
                        vm.loading = false
                    });
                console.log(column)
            },
            IndustrySel: function (val) {
                let vm = this;
                vm.loading = true
                let y = ''
                if (vm.orgyear != '' && vm.orgyear != null) {
                    y = vm.orgyear.getFullYear()
                }
                axios.get(`/api/ApdFctOrgIndexV/SelectIndustryData/?pageSize=${vm.pageSize}&currentPage=${vm.currentPage}&Industry=${val}&OrgName=${vm.OrgName}&year=${y}&Town=${vm.searchjds}`)
                    .then(function (response) {
                        vm.data = response.data.content.data;
                        vm.total = response.data.content.total;
                        vm.loading = false
                    })
                    .catch(function (error) {
                        console.log(error)
                        vm.loading = false
                    });
            },
            TownSel: function (val) {
                let vm = this;
                vm.loading = true
                let y = ''
                if (vm.orgyear != '' && vm.orgyear != null) {
                    y = vm.orgyear.getFullYear()
                }
                axios.get(`/api/ApdFctOrgIndexV/SelectTownDdata/?pageSize=${vm.pageSize}&currentPage=${vm.currentPage}&Town=${val}&OrgName=${vm.OrgName}&year=${y}&Industy=${vm.searchshhys}`)
                    .then(function (response) {
                        vm.data = response.data.content.data;
                        vm.total = response.data.content.total;
                        vm.loading = false
                    })
                    .catch(function (error) {
                        console.log(error)
                        vm.loading = false
                    });
            },
            getTownInfo: function () {
                let vm = this;
                axios.get('/api/ApdFctOrgIndexV/GetTown')
                    .then(function (response) {
                        vm.searchjd = response.data.content.list;
                        vm.searchjd.unshift({ code: '', name: '全部' });
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            getIndustyInfo: function () {
                let vm = this;
                axios.get('/api/ApdFctOrgIndexV/GetIndustry')
                    .then(function (response) {
                        vm.searchshhy = response.data.content.list;
                        vm.searchshhy.unshift({ code: '', name: '全部' });
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            handleClick: function (index, row) {
                let vm = this
                let rowstr = JSON.stringify(row)
                let formdata = JSON.parse(rowstr)
                console.log(formdata.orG_CODE)
                console.log(formdata.perioD_YEAR)
                axios.get(`/api/ApdFctOrgIndexV/IndustryDetail?code=${formdata.orG_CODE}`)
                    .then(function (response) {
                        console.log(response.data.content.list[0]);
                        vm.histroyname = response.data.content.list[0].orG_NAME
                        $('#industryName').html(response.data.content.list[0].orG_NAME)
                        $('#registratioN_STATUS').html(response.data.content.list[0].registratioN_STATUS)
                        $('#orgCode').html(response.data.content.list[0].orG_CODE)
                        $('#registratioN_MONEY').html(response.data.content.list[0].registratioN_MONEY)
                        $('#legaL_REPRESENTATIVE').html(response.data.content.list[0].legaL_REPRESENTATIVE)
                        $('#registratioN_TYPE').html(response.data.content.list[0].registratioN_TYPE)
                        $('#registratioN_DATE').html(response.data.content.list[0].registratioN_DATE)
                        $('#address').html(response.data.content.list[0].address)
                        console.log('历史名称', response.data.content.list[0].orG_NAME)
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                axios.get(`/api/ApdFctOrgIndexV/SelectORGInfo?pageSize=${vm.pageSize1}&currentPage=${vm.currentPage1}&OrgCode=${formdata.orG_CODE}`)
                    .then(function (response) {
                        vm.data1 = response.data.content.data;
                        vm.total1 = response.data.content.total;
                    })
                    .catch(function (error) {
                        console.log(error)
                    });
                axios.get(`/api/ApdFctOrgIndexV/BenefiteValuationInfo?code=${formdata.orG_CODE}`)
                    .then(function (response) {
                        axios.get(`/api/ApdFctOrgIndexV/GetAvarageScore?year=${formdata.perioD_YEAR}`)
                            .then(function (response2) {
                                console.log("数据1", response.data.content.list[0].taX_PER_MU);
                                if (response.data.content.list[0].taX_PER_MU > response2.data.content.list[0].taX_PER_MU) {
                                    //绿色
                                    $('.mjssdiv').css("background-color", "#99FF00")
                                } else if (response.data.content.list[0].taX_PER_MU == response2.data.content.list[0].taX_PER_MU) {
                                    //黄色
                                    $('.mjssdiv').css("background-color", "yellow")
                                } else if (response.data.content.list[0].taX_PER_MU < response2.data.content.list[0].taX_PER_MU) {
                                    $('.mjssdiv').css("background-color", "#EC5858")
                                }
                                if (response.data.content.list[0].adD_VALUE_PER_MU > response2.data.content.list[0].adD_VALUE_PER_MU) {
                                    //绿色
                                    $('.mjzjzdiv').css("background-color", "#99FF00")
                                } else if (response.data.content.list[0].adD_VALUE_PER_MU == response2.data.content.list[0].taX_PER_MU) {
                                    //黄色
                                    $('.mjzjzdiv').css("background-color", "yellow")
                                } else if (response.data.content.list[0].adD_VALUE_PER_MU < response2.data.content.list[0].adD_VALUE_PER_MU) {
                                    //红色
                                    $('.mjzjzdiv').css("background-color", "#EC5858")
                                }
                                if (response.data.content.list[0].productivity > response2.data.content.list[0].productivity) {
                                    //绿色
                                    $('.qyldscldiv').css("background-color", "#99FF00")
                                } else if (response.data.content.list[0].productivity == response2.data.content.list[0].productivity) {
                                    //黄色
                                    $('.qyldscldiv').css("background-color", "yellow")
                                } else if (response.data.content.list[0].productivity < response2.data.content.list[0].productivity) {
                                    //红色
                                    $('.qyldscldiv').css("background-color", "#EC5858")
                                }
                                if (response.data.content.list[0].pollutanT_DISCHARGE > response2.data.content.list[0].pollutanT_DISCHARGE) {
                                    //绿色
                                    $('.dwpwqzjzdiv').css("background-color", "#99FF00")
                                } else if (response.data.content.list[0].pollutanT_DISCHARGE == response2.data.content.list[0].pollutanT_DISCHARGE) {
                                    //黄色
                                    $('.dwpwqzjzdiv').css("background-color", "yellow")
                                } else if (response.data.content.list[0].pollutanT_DISCHARGE < response2.data.content.list[0].pollutanT_DISCHARGE) {
                                    //红色
                                    $('.dwpwqzjzdiv').css("background-color", "#EC5858")
                                }
                                if (response.data.content.list[0].energY_CONSUMPTION > response2.data.content.list[0].energY_CONSUMPTION) {
                                    //绿色
                                    $('.dwnhdiv').css("background-color", "#99FF00")
                                } else if (response.data.content.list[0].energY_CONSUMPTION == response2.data.content.list[0].energY_CONSUMPTION) {
                                    //黄色
                                    $('.dwnhdiv').css("background-color", "yellow")
                                } else if (response.data.content.list[0].energY_CONSUMPTION < response2.data.content.list[0].energY_CONSUMPTION) {
                                    //红色
                                    $('.dwnhdiv').css("background-color", "#EC5858")
                                }
                                if (response.data.content.list[0].neT_ASSETS_PROFIT > response2.data.content.list[0].neT_ASSETS_PROFIT) {
                                    //绿色
                                    $('.jzcsyldiv').css("background-color", "#99FF00")
                                } else if (response.data.content.list[0].neT_ASSETS_PROFIT == response2.data.content.list[0].neT_ASSETS_PROFIT) {
                                    //黄色
                                    $('.jzcsyldiv').css("background-color", "yellow")
                                } else if (response.data.content.list[0].neT_ASSETS_PROFIT < response2.data.content.list[0].neT_ASSETS_PROFIT) {
                                    //红色
                                    $('.jzcsyldiv').css("background-color", "#EC5858")
                                }
                                if (response.data.content.list[0].r_D_EXPENDITURE_RATIO > response2.data.content.list[0].r_D_EXPENDITURE_RATIO) {
                                    //绿色
                                    $('.yfjftrbdiv').css("background-color", "#99FF00")
                                } else if (response.data.content.list[0].r_D_EXPENDITURE_RATIO == response2.data.content.list[0].r_D_EXPENDITURE_RATIO) {
                                    //黄色
                                    $('.yfjftrbdiv').css("background-color", "yellow")
                                } else if (response.data.content.list[0].r_D_EXPENDITURE_RATIO < response2.data.content.list[0].r_D_EXPENDITURE_RATIO) {
                                    //红色
                                    $('.yfjftrbdiv').css("background-color", "#EC5858")
                                }
                            })
                            .catch(function (error) { console.log(error) })
                        //item2.ADD_VALUE_PER_MU = Math.Round(Convert.ToDecimal(item2.ADD_VALUE_PER_MU / 10000), 2);
                        //item2.TAX_PER_MU = Math.Round(Convert.ToDecimal(item2.TAX_PER_MU / 10000), 2);
                        //item2.MAIN_BUSINESS_INCOME = Math.Round(Convert.ToDecimal(item2.MAIN_BUSINESS_INCOME / 10000), 2);
                        //item2.POLLUTANT_DISCHARGE = Math.Round(Convert.ToDecimal(item2.POLLUTANT_DISCHARGE / 10000), 2);
                        //item2.fact_tax = Math.Round(Convert.ToDecimal(item2.fact_tax / 10000), 2);
                        //item2.ENERGY_CONSUMPTION = Math.Round(Convert.ToDecimal(item2.ENERGY_CONSUMPTION / 10000), 2);
                        //item2.PROFIT = Math.Round(Convert.ToDecimal(item2.PROFIT / 10000), 2);
                        //item2.Industrial_added_value = Math.Round(Convert.ToDecimal(item2.Industrial_added_value / 10000), 2);
                        //item2.PRODUCTIVITY = Math.Round(Convert.ToDecimal(item2.PRODUCTIVITY / 10000), 2);
                        console.log("111", response.data.content.list[0])
                        $('#mjss').html(response.data.content.list[0].taX_PER_MU)
                        $('#mjzjz').html(response.data.content.list[0].adD_VALUE_PER_MU)
                        $('#qyldscl').html(response.data.content.list[0].productivity)
                        $('#dwpwqzjz').html(response.data.content.list[0].pollutanT_DISCHARGE)
                        $('#dwnh').html(response.data.content.list[0].energY_CONSUMPTION)
                        $('#jzcsyl').html(response.data.content.list[0].neT_ASSETS_PROFIT)
                        $('#yfjftrb').html(response.data.content.list[0].r_D_EXPENDITURE_RATIO)

                        $('#pollutant_discharge').html(response.data.content.list[0].pollutant_discharge2)
                        $('#MAIN_BUSINESS_INCOME').html(response.data.content.list[0].maiN_BUSINESS_INCOME)
                        $('#ownerequity').html(response.data.content.list[0].owneR_EQUITY)
                        $('#WORKER_MONTH').html(response.data.content.list[0].workeR_MONTH)
                        $('#Industrial_added_value').html(response.data.content.list[0].industrial_added_value)
                        $('#LAND_AREA').html(response.data.content.list[0].lanD_AREA)
                        $('#R_D_EXPENDITURE').html(response.data.content.list[0].r_D_EXPENDITURE)
                        $('#PROFIT').html((response.data.content.list[0].profit / 10000).toFixed(2))
                        //综合能耗
                        $('#Energy_consumption2').html(response.data.content.list[0].energy_consumption2)
                        $('#fact_tax').html(response.data.content.list[0].fact_tax)
                        $('#COMPOSITE_SCORE').html(response.data.content.list[0].compositE_SCORE)
                        $('#sixflpf').html(response.data.content.industyCount)
                        $('#xpf').html(response.data.content.industyCount)
                        $('#onepf').html(response.data.content.industyCount)
                        $('#onepm').html(response.data.content.list[0].onE_RANK)
                        $('#sixpm').html(response.data.content.list[0].siX_RANK)
                        $('#pdpm').html(response.data.content.industyCount)
                        $('#COMPOSITE_RANK').html(response.data.content.list[0].compositE_RANK)
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                vm.centerDialogVisible = true
            },
            handleSizeChange(val) {
                this.pageSize = val;
                this.fetchList();
            },
            handleSizeChange1(val) {
                this.pageSize1 = val;
                this.fetchList();
            },
            handleCurrentChange(val) {
                this.currentPage = val;
                this.fetchList();
            },

            handleCurrentChange1(val) {
                this.currentPage1 = val;
                this.fetchList();
            },
            //headerStyle({ row,rowIdex }) {
            //    return 'table-th'
            //}
            //导出
            importall() {
                let vm = this
                let y = ''
                if (vm.orgyear != '' && vm.orgyear != null) {
                    y = vm.orgyear.getFullYear()
                }
                console.log("年份", y)
                console.log("行业", vm.searchshhys)
                console.log("城镇", vm.searchjds)
                location.href = `/api/ApdFctOrgIndexV/exportall?orgname=${vm.OrgName}&year=${y}&industy=${vm.searchshhys}&town=${vm.searchjds}&field=${vm.field}&desc=${vm.desc}`;
            },
        },
        mounted: function () {
            let vm = this
            vm.fetchList();
            vm.getIndustyInfo();
            vm.getTownInfo()
        }

    });
</script>