
@{
    ViewData["Title"] = "主页";
}
<style>
    #fontdiv {
        text-align: center;
        padding-top:200px;
        font-size:50px
    }
</style>
<script>
    layui.use(['element', 'layer'], function () {
        var layer = layui.layer
        var form = layui.form;
        var $ = layui.$
    })
</script>
<div id="fontdiv">
    <p>高明区企业高质量发展综合评价体系</p>
    <p>数据应用系统</p>
</div>
