

@{
    ViewData["Title"] = "数据目录信息管理";
}

<style>
    .v-modal {
        display: none;
    }

    #app {
        margin-top: 15px;
        padding: 15px;
        background-color: #fff;
    }
</style>
<div id="app">

    <el-form :inline="true" class="demo-form-inline">
        <el-form-item label="数据目录名称：">
            <el-input placeholder="数据目录名称" v-model="searchDataCatalogName"></el-input>
        </el-form-item>
    </el-form>
    <el-form :inline="true" class="demo-form-inline">
        <el-form-item>
            <el-button size="small" type="primary" @@click="fetchList">查询</el-button>
        </el-form-item>
        <el-form-item>
            <el-button size="small" type="primary" @@click="handleAdd">添加</el-button>
        </el-form-item>
        <el-form-item>
            <el-button size="small" type="danger" @@click="batchDelete">批量删除</el-button>
        </el-form-item>
    </el-form>

    <el-table ref="multipleTable"
              :data="data"
              :border="true"
              tooltip-effect="dark"
              style="width: 100%"
              @@selection-change="handleSelectionChange">
        <el-table-column type="selection"
                         width="55">
        </el-table-column>
        <el-table-column label="数据目录代码"
                         prop="dataCatalogCode">
        </el-table-column>
        <el-table-column label="数据目录名称"
                         prop="dataCatalogName">
        </el-table-column>
        <el-table-column label="本级目录数量"
                         prop="dataCountSelf">
        </el-table-column>
        <el-table-column label="本级加子级的数据量"
                         prop="dataCountTree">
        </el-table-column>
        <el-table-column label="创建时间"
                         prop="creationDate">
        </el-table-column>
        <el-table-column label="操作">
            <template slot-scope="scope">
                <el-button size="mini"
                           v-on:click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                <el-button size="mini"
                           type="danger"
                           v-on:click="handleDelete(scope.$index, scope.row)">删除</el-button>
            </template>
        </el-table-column>
    </el-table>
    <el-pagination @@size-change="handleSizeChange"
                   @@current-change="handleCurrentChange"
                   :current-page="currentPage"
                   :page-sizes="[10, 20, 30, 40]"
                   :page-size="pageSize"
                   layout="total, sizes, prev, pager, next, jumper"
                   :total="total">
    </el-pagination>
    <el-dialog :title="dialogTitle"
               :visible.sync="centerDialogVisible"
               width="30%"
               center>
        <el-form :label-position="labelPosition" label-width="160px" :model="form" :rules="rules" ref="form">
            <el-form-item label="数据目录代码" prop="dataCatalogCode">
                <el-input v-model="form.dataCatalogCode"></el-input>
            </el-form-item>
            <el-form-item label="数据目录名称" prop="dataCatalogName">
                <el-input v-model="form.dataCatalogName"></el-input>
            </el-form-item>
            <el-form-item label="父级ID" prop="parentId">
                <el-input v-model="form.parentId"></el-input>
            </el-form-item>
            <el-form-item label="父级ID树" prop="parentIdTree">
                <el-input v-model="form.parentIdTree"></el-input>
            </el-form-item>
            <el-form-item label="本级目录数据量" prop="dataCountSelf">
                <el-input v-model="form.dataCountSelf"></el-input>
            </el-form-item>
            <el-form-item label="本级加子级的数据量" prop="dataCountTree">
                <el-input v-model="form.dataCountTree"></el-input>
            </el-form-item>
            <el-form-item label="数据目录图片" prop="imageUrl">
                <el-upload class="upload-demo"
                           action="/api/dcsservicegroupdata/upload/"
                           :on-preview="handlePreview"
                           :on-remove="handleRemove"
                           :file-list="imageUrl"
                           :on-success="handleAvatarSuccess"
                           multiple
                           :limit="1"
                           :on-exceed="handleExceed"
                           list-type="picture">
                    <el-button size="small" type="primary">点击上传</el-button>
                    <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
                </el-upload>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button v-on:click="dialogCancel()">取 消</el-button>
            <el-button type="primary" v-on:click="dialogSave('form')">确 定</el-button>
        </div>
    </el-dialog>

</div>
<script>
    layui.use(['element', 'layer'], function () {
        var layer = layui.layer
        var form = layui.form;
        var $ = layui.$
    })
</script>
<script>
    new Vue({
        el: "#app",
        data: function () {
            return {
                data: [],
                centerDialogVisible: false,
                currentPage: 1,
                pageSize: 10,
                total: 0,
                imageUrl:[],
                multipleSelection: [],//获取批量选择的数据
                searchDataCatalogName: '',

                form: {
                    dataCatalogCode:'',
                    dataCatalogName: '',
                    parentId: '',
                    parentIdTree: '',
                    dataCountSelf: '',
                    dataCountTree: '',
                    imageUrl:''
                },
                rules: {
                    connectionName: [
                        { required: true, message: '连接名称不能为空', trigger: 'blur' },
                    ],
                    connectionString: [
                        { required: true, message: '连接字符串不能为空', trigger: 'blur' }
                    ],
                },
                formLabelWidth: '160px',
                dialogTitle: '',
                labelPosition: 'left',
                IsCreate: true,//是否新增
            }
        },
        methods: {
            fetchList: function () {
                let vm = this
                axios.get(`/api/DcsDataCatalog/${vm.pageSize}/${vm.currentPage}?dataCatalogName=${vm.searchDataCatalogName}`)
                    .then(function (response) {
                        vm.data = response.data.content.data;
                        vm.total = response.data.content.total;
                    })
                    .catch(function (error) {
                        console.log(error)
                    });
            },
            handleEdit: function (index, row) {
                //编辑
                let vm = this
                let rowstr = JSON.stringify(row)
                let formdata = JSON.parse(rowstr)
                vm.IsCreate = false
                vm.dialogTitle = "编辑信息"
                vm.imageUrl = [];
                if (row.imageUrl != null && row.imageUrl != "") {
                    vm.imageUrl = [{ 'name': `${row.imageUrl}`, 'url': `${row.imageUrl}` }];
                }
                vm.form = formdata;
                vm.centerDialogVisible = true
            },
            handleDelete: function (index, row) {
                let vm = this
                //删除

                //弹出确认框
                console.log(row.dataCatalogId);
                this.$confirm('此操作将删除该目录信息, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios.delete('/api/DcsDataCatalog/' + row.dataCatalogId)
                        .then(function (response) {
                            if (!response.data.isSuccess) {
                                vm.$message({ title: '失败', message: response.data.message, type: 'error' })
                                return;
                            }
                            vm.$message({ title: '成功', message: '删除成功', type: 'success' })
                            vm.fetchList();
                            vm.centerDialogVisible = false
                        })
                        .catch(function (error) {
                            vm.$message({ title: '异常', message: '发生了预料之外的错误!', type: 'error' })
                            console.log(error);
                        });

                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });

            },

            handleAdd: function () {
                let vm = this
                vm.IsCreate = true
                vm.resetForm()
                vm.imageUrl = [];
                vm.dialogTitle = "添加信息"
                vm.centerDialogVisible = true
                //添加
            },
            dialogCancel: function () {
                let vm = this;

                vm.centerDialogVisible = false
            },
            dialogSave: function (formName) {
                let vm = this;
                vm.$refs[formName].validate((valid) => {
                    if (valid) {
                        let url = "/api/DcsDataCatalog";
                        let method = "POST";
                        if (vm.IsCreate != true) {
                            url = `/api/DcsDataCatalog/${vm.form.dataCatalogId}`;
                            method = "PUT";
                        }
                        axios({ url: url, method: method, data: vm.form })
                            .then(function (response) {
                                if (!response.data.isSuccess) {
                                    vm.$message({ title: '失败', message: response.data.message, type: 'error' })
                                    return;
                                }
                                vm.$message({ title: '成功', message: response.data.message, type: 'success' })
                                vm.fetchList();
                                vm.centerDialogVisible = false
                            })
                            .catch(function (error) {
                                vm.$message({ title: '异常', message: '发生了预料之外的错误!', type: 'error' })
                                console.log(error);
                            });

                    } else {
                        console.log('error submit!!');
                        return;
                    }
                });
            },
            resetForm() {
                let vm = this;
                    vm.form.dataCatalogCode = ''
                    vm.form.dataCatalogName = ''
                    vm.form.parentId = ''
                    vm.form.parentIdTree = ''
                    vm.form.dataCountSelf = ''
                    vm.form.dataCountTree = ''
                    vm.form.imageUrl = ''

            },
            handleSizeChange(val) {
                console.log(`每页 ${val} 条`);
                this.pageSize = val;
                this.fetchList();
            },
            handleCurrentChange(val) {
                console.log(`当前页: ${val}`);
                this.currentPage = val;
                this.fetchList();
            },

            handleSelectionChange(val) {
                this.multipleSelection = val;

            },

            batchDelete() {
                let vm = this
                let batchdatas = this.multipleSelection;
                if (batchdatas.length == 0) {
                    vm.$message("请先选中数据再进行操作！");
                    return;
                }
                let ids = '';
                for (let i = 0; i < batchdatas.length; i++) {
                    ids += `&ids=${batchdatas[i].dataCatalogId}`;
                };
                ids = ids.substring(1, ids.length)

                vm.$confirm(`此操作将删除${batchdatas.length}条连接信息, 是否继续?`, '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios.delete('/api/DcsDataCatalog/batchdelete?' + ids)
                        .then(function (response) {
                            if (!response.data.isSuccess) {
                                vm.$message({ title: '失败', message: response.data.message, type: 'error' })
                                return;
                            }
                            vm.$message({ title: '成功', message: '删除成功', type: 'success' })
                            vm.fetchList();
                            vm.centerDialogVisible = false
                        })
                        .catch(function (error) {
                            vm.$message({ title: '异常', message: '发生了预料之外的错误!', type: 'error' })
                            console.log(error);
                        });

                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
                console.log(this.multipleSelection);
            },
            handleRemove(file, fileList) {
                console.log(file, fileList);
            },
            handlePreview(file) {
                console.log(file);
            },
            handleExceed(files, imageUrl) {
                this.$message.warning(`当前限制选择 1 个文件，本次选择了 ${files.length} 个文件，共选择了 ${files.length + imageUrl.length} 个文件`);
            },

            handleAvatarSuccess(res, file) {
                let vm = this;
                vm.form.imageUrl = res.content.src;

            },
            beforeRemove(file, imageUrl) {

                return this.$confirm(`确定移除 ${file.name}？`);
            },
        },
        mounted: function () {
            let vm = this
            vm.fetchList();
        }

    });
</script>


