
@{
    ViewData["Title"] = "数据源ElemeUI设计";
}
<style>
    .v-modal {
        display: none;
    }

    #app {
        margin-top: 15px;
        padding: 15px;
        background-color: #fff;
    }
</style>
<div id="app">
    <el-from :inline="true" class="demo-form-inline">
        <el-from-item label="数据源代码：">
            <el-input v-model="searchDataSourceCode" placeholder="数据源代码"></el-input>
            <el-from-item label="数据源代码：">
                <el-from-item label="数据源名称">
                    <el-input v-model="searchDataSourceName" placeholder="数据源名称"></el-input>
                </el-from-item>
    </el-from>
    <el-from :inline="true" class="demo-form-inline">
        <el-from-item label="数据源类型：">
            <el-select v-model="value" placeholder="请选择">
                <el-option v-for="item in options"
                           :key="item.value"
                           :label="item.label"
                           :value="item.value"
                           :disabled="item.disabled">
                </el-option>
            </el-select>
        </el-from-item>
        <el-from-item label="数据源用途：">
            <el-select v-model="value" placeholder="请选择">
                <el-option v-for="item in options"
                           :key="item.value"
                           :label="item.label"
                           :value="item.value"
                           :disabled="item.disabled">
                </el-option>
            </el-select>
        </el-from-item>
    </el-from>
    <el-form :inline="true" class="demo-form-inline">
        <el-form-item>
            <el-button type="primary" @@click="search">查询</el-button>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @@click="dataSourceAdd">添加数据源</el-button>
        </el-form-item>
        <el-form-item>
            <el-button type="danger" @@click="batchDelete">选中行删除</el-button>
        </el-form-item>
    </el-form>

</div>
<script>
    new Vue({
    el:'#app'
    })
</script>
