<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no">
    <title>高明区企业高质量发展综合评价体系数据采集及应用平台</title>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <link href="~/css/font.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/common/app.css" />

    <script src="~/common/vue.min.js"></script>
    <script src="~/element-ui/lib/index.js"></script>
    <link href="~/element-ui/lib/theme-chalk/index.css" rel="stylesheet" />
    @*<script src="~/common/element-ui/element.js"></script>*@
    <script src="~/common/axios.min.js"></script>
    <script src="~/layui/layui.js"></script>
    @*<link href="~/common/element-ui/theme-chalk/index.css" rel="stylesheet" />*@
    <script src="~/common/jquery.min.js"></script>
    <link href="~/layui/lay/layui-formSelects-master/formSelects-v4.css" rel="stylesheet" />
    <script src="~/layui/lay/layui-formSelects-master/formSelects-v4.js"></script>
    <script src="~/common/moreformSelects.js"></script>
    <script src="~/common/JSLINQ.js"></script>
    <link rel="stylesheet" href="~/tip/src/tip-yellow/tip-yellow.css" type="text/css" />
    <link rel="stylesheet" href="~/tip/src/tip-violet/tip-violet.css" type="text/css" />
    <link rel="stylesheet" href="~/tip/src/tip-darkgray/tip-darkgray.css" type="text/css" />
    <link rel="stylesheet" href="~/tip/src/tip-skyblue/tip-skyblue.css" type="text/css" />
    <link rel="stylesheet" href="~/tip/src/tip-yellowsimple/tip-yellowsimple.css" type="text/css" />
    <link rel="stylesheet" href="~/tip/src/tip-twitter/tip-twitter.css" type="text/css" />
    <link rel="stylesheet" href="~/tip/src/tip-green/tip-green.css" type="text/css" />

    <script type="text/javascript" src="~/tip/src/jquery.poshytip.js"></script>
    @*echart引用包*@
    @*<script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.js"></script>*@
    <script src="~/echar/echarts.js"></script>
    @*<script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js"></script>*@
    <script src="~/echar/echarts.min.js"></script>
</head>
<body>

    <div class="layui-layout layui-layout-admin">

        @await Html.PartialAsync("_header")
        @await Html.PartialAsync("_side")

        <div class="layui-body" style="bottom:0px;">
            <!-- 内容主体区域 -->
            <div style="padding: 15px;height:calc(100% - 52px);">
                @await Html.PartialAsync("_breadcrumb")
                @RenderBody()
            </div>
        </div>

        @*<div class="layui-footer">


                © layui.com - 底部固定区域
            </div>*@

    </div>
    <script src="~/common/JSLINQ.js"></script>
    @*<script>
        axios.get("/api/DataCondition/GetControllerIdTest")
            .then(function (response) {              
                console.log("当前页面控制器id:"+response.data);                
            })
            .catch(function (error) {               
                console.log(error);
            });
    </script>*@
</body>
</html>
