
<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll" style="user-select: none;-moz-user-select: none;-webkit-user-select: none;-ms-user-select: none;-o-user-select: none;-khtml-user-select: none; ">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree" id="side">
            @*<li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">所有商品</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">列表一</a></dd>
                        <dd><a href="javascript:;">列表二</a></dd>
                        <dd><a href="javascript:;">列表三</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">解决方案</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">列表一</a></dd>
                        <dd><a href="javascript:;">列表二</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">云市场</a></li>
                <li class="layui-nav-item"><a href="">发布商品</a></li>*@
        </ul>
    </div>
</div>



<script>
    //读取菜单
    var routes_str = window.localStorage.getItem("userroutes");
    if (routes_str != null) {
        routes = JSON.parse(routes_str);
        //获取当前模块id
        var current_moduleId = window.localStorage.getItem("current_moduleId");
        let side = document.getElementById("side");

        let c_routes = routes[0];
        for (let i = 0; i < routes.length; i++) {
            for (var j = 0; j < routes[i].modelGroups.length; j++) {
                if (routes[i].modelGroups[j].modelGroupId === current_moduleId) {

                    //generateMenu(side, [routes[i]], 1);
                    //c_routes = routes[i];
                    c_routes = routes[i].modelGroups[j];
                    break;
                }
            }

            //if (routes[i].modelGroupId === current_moduleId) {
              
            //    //generateMenu(side, [routes[i]], 1);
            //    c_routes = routes[i];
            //    break;
            //}
        }
        var data = [c_routes];       
        generateMenu(side, c_routes);
    }

    //获取当前url
    function GetUrlRelativePath(isIframe) {
        var url = document.location.toString();
        let relUrl = "";
        if (isIframe == true) {
            var start = url.indexOf("/iframecontainer");
            relUrl = url.substring(start);
            return relUrl;
        }
        var arrUrl = url.split("//");
        var start = arrUrl[1].indexOf("/");
        relUrl = arrUrl[1].substring(start);//stop省略，截取从start开始到结尾的所有字符

        if (relUrl.indexOf("?") != -1 ) {
            relUrl = relUrl.split("?")[0];
        }
        return relUrl;
    }

    function generateMenu(dom, routes) {
       
        for (let i = 0; i < routes.modelGroups.length; i++) {
            let eflag = false;
            let li = document.createElement("li");
            let li_class_name = "layui-nav-item";
          
            let a = document.createElement("a");
            a.innerText = routes.modelGroups[i].modelGroupName;
            a.href = "javascript:;";
            let dl = document.createElement("dl");
            dl.classList = "layui-nav-child";
            for (let j = 0; j < routes.modelGroups[i].models.length; j++) { 
                let cmodels = routes.modelGroups[i].models[j];              
                let dd = document.createElement("dd");              
                if (GetUrlRelativePath(cmodels.outUrlFlag) == cmodels.modelUrl) {
                   
                    dd.classList = " layui-this";
                    eflag = true;
                }
                let dda = document.createElement("a");
                dda.innerText = cmodels.modelName;
                dda.href = cmodels.modelUrl;
                dd.appendChild(dda);
                dl.appendChild(dd)
            }
            if (eflag) {
                li_class_name += " layui-nav-itemed";
            }
            li.className = li_class_name;
            li.appendChild(a);
            li.appendChild(dl);
            dom.appendChild(li);
        }
        for (let i = 0; i < routes.models.length; i++) {
            let li = document.createElement("li");
            let li_class_name = "layui-nav-item";
            if (GetUrlRelativePath(routes.models[i].outUrlFlag) == routes.models[i].modelUrl) {
                li_class_name += " layui-this";
            }
          
            li.className = li_class_name;
            let a = document.createElement("a");
            a.innerText = routes.models[i].modelName;
            a.href = routes.models[i].modelUrl;
            li.appendChild(a);
            dom.appendChild(li);
        }
    }
</script>