@{
    ViewData["Title"] = "运行概况";
}
<link id="layuicss-atalicdncomtfont_477590_n82storgbjcss" rel="stylesheet" href="//at.alicdn.com/t/font_477590_n82storgbj.css" media="all">

<div id="app">
    <el-main>
        <el-row :gutter="15">
            <el-col :span="6">
                <div style="color:#7683AC;background-color:#fff;padding-top:30px;height:100%;overflow:hidden;zoom:1;">
                    <div style="float:left;text-align:center;font-size:16px;line-height:50px;width:50%;">
                        <div style="width:50px;height:50px;background-color:#26A0FA;border-radius:50px; margin:0 auto;">
                            <i class="larry-icon larry-gouwucheman" style="font-size:22px;color:#fff;"></i>
                        </div>
                        <p style="">累计接口调用</p>
                    </div>
                    <div style="float:left;text-align:center;line-height:50px;width:50%;">
                        <div class="p">
                            <h3 id="orderCounter" style="font-size:18px;">{{data.totalCount}} 次</h3>
                        </div>
                    </div>
                </div>

            </el-col>
            <el-col :span="6">
                <div style="color:#7683AC;background-color:#fff;padding-top:30px;height:100%;overflow:hidden;zoom:1;">
                    <div style="float:left;text-align:center;font-size:16px;line-height:50px;width:50%;">
                        <div style="width:50px;height:50px;background-color:#FA6332;border-radius:50px; margin:0 auto;">
                            <i class="larry-icon larry-shouru" style="font-size:22px;color:#fff;"></i>
                        </div>
                        <p style="">今日接口调用</p>
                    </div>
                    <div style="float:left;text-align:center;line-height:50px;width:50%;">
                        <div class="p">
                            <h3 id="orderCounter" style="font-size:18px;">{{data.todayCount}} 次</h3>
                        </div>
                    </div>
                </div>
            </el-col>
            <el-col :span="6">
                <div style="color:#7683AC;background-color:#fff;padding-top:30px;height:100%;overflow:hidden;zoom:1;">
                    <div style="float:left;text-align:center;font-size:16px;line-height:50px;width:50%;">
                        <div style="width:50px;height:50px;background-color:#68C381;border-radius:50px; margin:0 auto;">
                            <i class="larry-icon larry-laofangke" style="font-size:22px;color:#fff;"></i>
                        </div>
                        <p style="">接口总数</p>
                    </div>
                    <div style="float:left;text-align:center;line-height:50px;width:50%;">
                        <div class="p">
                            <h3 id="orderCounter" style="font-size:18px;">{{data.serviceCount}} 个接口</h3>
                        </div>
                    </div>
                </div>

            </el-col>
            <el-col :span="6">
                <div style="color:#7683AC;background-color:#fff;padding-top:30px;height:100%;overflow:hidden;zoom:1;">
                    <div style="float:left;text-align:center;font-size:16px;line-height:50px;width:50%;">
                        <div style="width:50px;height:50px;background-color:#FFB800;border-radius:50px; margin:0 auto;">
                            <i class="larry-icon larry-zhifumaijia" style="font-size:22px;color:#fff;"></i>
                        </div>
                        <p style="">用户总数</p>
                    </div>
                    <div style="float:left;text-align:center;line-height:50px;width:50%;">
                        <div class="p">
                            <h3 id="orderCounter" style="font-size:18px;">{{data.customerCount}} 位用户</h3>
                        </div>
                    </div>
                </div>

            </el-col>
        </el-row>
        <el-row :gutter="15" style="margin-top:15px;">
            <el-col :span="16">
                <div id="container1"></div>
            </el-col>
            <el-col :span="8">
                <div id="container2"></div>
            </el-col>
        </el-row>
        <el-row :gutter="15" style="margin-top:15px;">
            <el-col :span="24">
                <el-table :data="data.recentlogdata" border style="width: 100%">
                    <el-table-column prop="serviceName" label="接口名称"></el-table-column>
                    <el-table-column prop="customerName" label="用户名称"></el-table-column>
                    <el-table-column prop="accessExeTime" label="执行所用时间"></el-table-column>
                    <el-table-column prop="accessResultFlag" label="调用结果"></el-table-column>
                    <el-table-column prop="accessDate" label="调用时间"></el-table-column>
                </el-table>
            </el-col>
        </el-row>
        <el-row :gutter="15" style="margin-top:15px; height:386px;">
            <el-col :span="12" style="height:100%;">
                <el-card class="box-card" style="height:100%;">
                    <div slot="header" class="clearfix">
                        <span>用户访问量占比</span>
                    </div>
                    <el-table :data="data.chart3data" stripe style="width: 100%">
                        <el-table-column type="index" label="排名" width="180"></el-table-column>
                        <el-table-column prop="customerName" label="客户名称" width="180"></el-table-column>
                        <el-table-column prop="perc" label="占比">
                            <template slot-scope="scope">
                                <el-progress :percentage="scope.row.perc"></el-progress>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-card>
            </el-col>
            <el-col :span="12" style="height:100%;">
                <el-card class="box-card" style="height:100%;">
                    <div slot="header" class="clearfix">
                        <span>接口访问量占比</span>
                    </div>
                    <el-table :data="data.chart4data" stripe style="width: 100%">
                        <el-table-column type="index" label="排名" width="180"></el-table-column>
                        <el-table-column prop="serviceName" label="接口名称" width="180"></el-table-column>
                        <el-table-column prop="perc" label="占比">
                            <template slot-scope="scope">
                                <el-progress :percentage="scope.row.perc"></el-progress>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-card>
            </el-col>
        </el-row>

        <el-row :gutter="15" style="margin-top:15px;height:386px;">
            <el-col :span="12" style="height:100%;">

                <el-card class="box-card" style="height:100%;">
                    <div slot="header" class="clearfix">
                        <span>用户接口日访问量</span>
                    </div>
                    <el-table :data="data.chart5data" stripe style="width: 100%">
                        <el-table-column type="index" label="排名" width="180"></el-table-column>
                        <el-table-column prop="customerName" label="客户名称" width="180"></el-table-column>
                        <el-table-column prop="serviceName" label="接口名称" width="180"></el-table-column>
                        <el-table-column prop="perc" label="占比">
                            <template slot-scope="scope">
                                <el-progress :percentage="scope.row.perc"></el-progress>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-card>

            </el-col>
            <el-col :span="12" style="height:100%;">

                <el-card class="box-card" style="height:100%;">
                    <div slot="header" class="clearfix">
                        <span>用户接口月访问量</span>
                    </div>
                    <el-table :data="data.chart6data" stripe style="width: 100%">
                        <el-table-column type="index" label="排名" width="180"></el-table-column>
                        <el-table-column prop="customerName" label="客户名称" width="180"></el-table-column>
                        <el-table-column prop="serviceName" label="接口名称" width="180"></el-table-column>
                        <el-table-column prop="perc" label="占比">
                            <template slot-scope="scope">
                                <el-progress :percentage="scope.row.perc"></el-progress>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-card>

            </el-col>
        </el-row>


    </el-main>




</div>
@*<script src="https://img.highcharts.com.cn/jquery/jquery-1.8.3.min.js"></script>
    <script src="https://img.highcharts.com.cn/highcharts/highcharts.js"></script>
    <script src="https://img.highcharts.com.cn/highcharts/modules/exporting.js"></script>
    <script src="https://img.highcharts.com.cn/highcharts/modules/oldie.js"></script>
    <script src="https://img.highcharts.com.cn/highcharts-plugins/highcharts-zh_CN.js"></script>*@

<script src="~/common/highcharts/jquery-1.8.3.min.js"></script>
<script src="~/common/highcharts/highcharts.js"></script>
<script src="~/common/highcharts/exporting.js"></script>
<script src="~/common/highcharts/oldie.js"></script>
<script src="~/common/highcharts/highcharts-zh_CN.js"></script>
<script>
    new Vue({
        el: "#app",
        data: function () {
            return {
                data: {},
                tableData: [{
                    date: '2016-05-02',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄'
                }, {
                    date: '2016-05-04',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1517 弄'
                }, {
                    date: '2016-05-01',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1519 弄'
                }, {
                    date: '2016-05-03',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1516 弄'
                }]
            }
        },
        methods: {
            fetchList: function () {
                let vm = this
                axios.get('/api/DashboardData/Statistics')
                    .then(function (response) {
                        console.log(response.data);
                        vm.data = response.data.content;
                        vm.initChart1(vm.data.chart1data);
                        vm.initChart2(vm.data.chart2data);

                    })
                    .catch(function (error) {
                        console.log(error)
                    });
            },
            initChart1: function (data) {

                var chart1 = Highcharts.chart('container1', {
                    chart: {
                        zoomType: 'x'
                    },
                    title: {
                        text: '当天接口调用情况'
                    },
                    subtitle: {
                        text: document.ontouchstart === undefined ?
                            '鼠标拖动可以进行缩放' : '手势操作进行缩放'
                    },
                    xAxis: {
                        type: 'datetime',
                        dateTimeLabelFormats: {
                            millisecond: '%H:%M:%S.%L',
                            second: '%H:%M:%S',
                            minute: '%H:%M',
                            hour: '%H:%M',
                            day: '%m-%d',
                            week: '%m-%d',
                            month: '%Y-%m',
                            year: '%Y'
                        }
                    },
                    tooltip: {
                        dateTimeLabelFormats: {
                            //    millisecond: '%H:%M:%S.%L',
                            //    second: '%H:%M:%S',
                            //    minute: '%H:%M',
                            hour: '%H:%M',
                            //    day: '%Y-%m-%d',
                            //    week: '%m-%d',
                            //    month: '%Y-%m',
                            //    year: '%Y'
                        }
                    },
                    yAxis: {
                        title: {
                            text: '调用数量'
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    credits: {

                        enabled: false

                    },
                    plotOptions: {
                        area: {
                            fillColor: {
                                linearGradient: {
                                    x1: 0,
                                    y1: 0,
                                    x2: 0,
                                    y2: 1
                                },
                                stops: [
                                    [0, Highcharts.getOptions().colors[0]],
                                    [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                                ]
                            },
                            marker: {
                                radius: 2
                            },
                            lineWidth: 1,
                            states: {
                                hover: {
                                    lineWidth: 1
                                }
                            },
                            threshold: null
                        }
                    },
                    series: [{
                        type: 'area',
                        name: '当前时间段内调用数量',
                        data: data
                    }]
                });
            },
            initChart2: function (data) {

                var chart2 = Highcharts.chart('container2', {
                    chart: {
                        type: 'bar'
                    },
                    title: {
                        text: '接口分类当天调用汇总'
                    },
                    subtitle: {
                        //text: '数据来源: Wikipedia.org'
                    },
                    xAxis: {
                        categories: data.item1,
                        title: {
                            text: null
                        }
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: '',
                            align: 'high'
                        },
                        labels: {
                            overflow: 'justify'
                        }
                    },
                    tooltip: {
                        valueSuffix: ' 百万'
                    },
                    credits: {

                        enabled: false

                    },
                    plotOptions: {
                        bar: {
                            dataLabels: {
                                enabled: false,
                                allowOverlap: false // 允许数据标签重叠
                            }
                        }
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'top',
                        x: -40,
                        y: 100,
                        floating: true,
                        borderWidth: 1,
                        backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                        shadow: false,
                        enabled: false
                    },
                    //series: [973, 914, 4054, 732, 34]
                    series: [{
                        //name: '2008 年',
                        data: data.item2
                    }]
                });
            }
        },
        mounted: function () {
            let vm = this
            vm.fetchList();
        }

    });




</script>
<script>

    layui.use(['element', 'layer'], function () {
        var element = layui.element;
        var layer = layui.layer;


    });



</script>


