@{
    ViewData["Title"] = "Home Page";
}
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="Author" content="larry">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" type="text/css" href="~/layui/larryms/larry/css/larry.css" media="all">
<link rel="stylesheet" type="text/css" href="~/layui/larryms/css/base.css" media="all">
<link rel="stylesheet" type="text/css" href="~/layui/larryms/css/admin/console.css">
<link href="~/layui/larryms/layer.css" rel="stylesheet" />
<link id="layuicss-atalicdncomtfont_477590_n82storgbjcss" rel="stylesheet" href="//at.alicdn.com/t/font_477590_n82storgbj.css" media="all">
<script src="https://hm.baidu.com/hm.js?f5c8995c598a04b7c21960a6896a6344"></script>>
<style>
</style>

<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
  <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<div class="layui-fluid">
    <div class="larry-container">
        <div class="layui-row layui-col-space15 larryms-data-top">
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg3">
                <section class="layui-card">
                    <div class="layui-card-body countup">
                        <div class="left a">
                            <i class="larry-icon larry-gouwucheman"></i>
                            <p>累计订单量</p>
                        </div>
                        <div class="right">
                            <i class="larry-icon larry-xiangxiajiantoushixin"></i>
                            <div class="p">
                                <h3 id="orderCounter">922233544</h3>
                                <cite>+18%同比增长</cite>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg3">
                <section class="layui-card">
                    <div class="layui-card-body countup">
                        <div class="left b">
                            <i class="larry-icon larry-shouru"></i>
                            <p>今日订单量</p>
                        </div>
                        <div class="right">
                            <i class="larry-icon larry-xiangshang2"></i>
                            <div class="p">
                                <h3 id="incomeCounter">20,000</h3>
                                <cite>+50%同比增长</cite>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg3">
                <section class="layui-card">
                    <div class="layui-card-body countup">
                        <div class="left c">
                            <i class="larry-icon larry-laofangke"></i>
                            <p>接口数量</p>
                        </div>
                        <div class="right">
                            <i class="larry-icon larry-xiangshang2"></i>
                            <div class="p">
                                <h3 id="UVcounter">33,568</h3>
                                <cite>+35%环比增长</cite>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md4 layui-hide-md layui-show-lg-inline-block layui-col-lg3">
                <section class="layui-card">
                    <div class="layui-card-body countup">
                        <div class="left d">
                            <i class="larry-icon larry-zhifumaijia"></i>
                            <p>用户数量</p>
                        </div>
                        <div class="right">
                            <i class="larry-icon larry-xiangshang2"></i>
                            <div class="p">
                                <h3 id="userCounter">3,168</h3>
                                <cite>+30%同比增长</cite>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>



        <div class="layui-row  layui-col-space15 larryms-count-demo">
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md8 layui-col-lg8">
                <section class="layui-card">
                    <div class="larryms-card-head">最新订单</div>
                    <div class="layui-card-body" id="container1">
               
                    </div>
                </section>
            </div>
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md4 layui-col-lg4">
                <section class="layui-card">
                    <div class="larryms-card-head"><span>收入统计汇总图表</span></div>
                    <div class="layui-card-body" id="container2">

                    </div>
                </section>
            </div>
        </div>

        <div class="layui-row  layui-col-space15 larryms-count-demo">
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 layui-col-lg12">
                <section class="layui-card">
                    <div class="larryms-card-head">最新订单</div>
                    <div class="layui-card-body">
                        <table class="layui-table larryms-order-demo" lay-skin="nob">
                            <colgroup>
                                <col width="20%">
                                <col width="20%">
                                <col width="15%">
                                <col width="20%">
                                <col>
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>订单号</th>
                                    <th>缩略图</th>
                                    <th>产品</th>
                                    <th>买家</th>
                                    <th class="layui-hide-xs">交易状态</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>mobileABC001</td>
                                    <td><img src="../../../larryms/images/product/iwatch.png" alt=""></td>
                                    <td>iWatch</td>
                                    <td>吕**</td>
                                    <td class="layui-hide-xs"><span class="label label-success font-weight-100">已完成</span></td>
                                </tr>
                                <tr>
                                    <td>mobileABC002</td>
                                    <td><img src="../../../larryms/images/product/iphone.png" alt=""></td>
                                    <td>iphone</td>
                                    <td>江**</td>
                                    <td class="layui-hide-xs"><span class="label label-success font-weight-100">已完成</span></td>
                                </tr>
                                <tr>
                                    <td>mobileABC003</td>
                                    <td><img src="../../../larryms/images/product/xsq.jpg" alt=""></td>
                                    <td>AOC</td>
                                    <td>李**</td>
                                    <td class="layui-hide-xs"><span class="label label-warning font-weight-100">待发货</span></td>
                                </tr>
                                <tr>
                                    <td>mobileABC004</td>
                                    <td><img src="../../../larryms/images/product/bjb.jpg" alt=""></td>
                                    <td>Mac Pro</td>
                                    <td>高**</td>
                                    <td class="layui-hide-xs"><span class="label label-default font-weight-100">已取消</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
           
        </div>
    </div>
</div>
<script src="https://img.highcharts.com.cn/jquery/jquery-1.8.3.min.js"></script>
<script src="https://img.highcharts.com.cn/highcharts/highcharts.js"></script>
<script src="https://img.highcharts.com.cn/highcharts/modules/exporting.js"></script>
<script src="https://img.highcharts.com.cn/highcharts/modules/oldie.js"></script>
<script src="https://img.highcharts.com.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
<script>
    var chart1 = null;


    $.getJSON('https://data.jianshukeji.com/jsonp?filename=json/usdeur.json&callback=?', function (data) {
         chart1 = Highcharts.chart('container1', {
            chart: {
                zoomType: 'x'
            },
            title: {
                text: '美元兑欧元汇率走势图'
            },
            subtitle: {
                text: document.ontouchstart === undefined ?
                    '鼠标拖动可以进行缩放' : '手势操作进行缩放'
            },
            xAxis: {
                type: 'datetime',
                dateTimeLabelFormats: {
                    millisecond: '%H:%M:%S.%L',
                    second: '%H:%M:%S',
                    minute: '%H:%M',
                    hour: '%H:%M',
                    day: '%m-%d',
                    week: '%m-%d',
                    month: '%Y-%m',
                    year: '%Y'
                }
            },
            tooltip: {
                dateTimeLabelFormats: {
                    millisecond: '%H:%M:%S.%L',
                    second: '%H:%M:%S',
                    minute: '%H:%M',
                    hour: '%H:%M',
                    day: '%Y-%m-%d',
                    week: '%m-%d',
                    month: '%Y-%m',
                    year: '%Y'
                }
            },
            yAxis: {
                title: {
                    text: '汇率'
                }
            },
            legend: {
                enabled: false
            },
            plotOptions: {
                area: {
                    fillColor: {
                        linearGradient: {
                            x1: 0,
                            y1: 0,
                            x2: 0,
                            y2: 1
                        },
                        stops: [
                            [0, Highcharts.getOptions().colors[0]],
                            [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                        ]
                    },
                    marker: {
                        radius: 2
                    },
                    lineWidth: 1,
                    states: {
                        hover: {
                            lineWidth: 1
                        }
                    },
                    threshold: null
                }
            },
            series: [{
                type: 'area',
                name: '美元兑欧元',
                data: data
            }]
        });

    
    });

    var chart2 = Highcharts.chart('container2', {
        chart: {
            type: 'bar'
        },
        title: {
            text: '各洲不同时间的人口条形图'
        },
        subtitle: {
            text: '数据来源: Wikipedia.org'
        },
        xAxis: {
            categories: ['非洲', '美洲', '亚洲', '欧洲', '大洋洲'],
            title: {
                text: null
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: '人口总量 (百万)',
                align: 'high'
            },
            labels: {
                overflow: 'justify'
            }
        },
        tooltip: {
            valueSuffix: ' 百万'
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true,
                    allowOverlap: true // 允许数据标签重叠
                }
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top',
            x: -40,
            y: 100,
            floating: true,
            borderWidth: 1,
            backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
            shadow: true
        },
        series: [{
            name: '1800 年',
            data: [107, 31, 635, 203, 2]
        }, {
            name: '1900 年',
            data: [133, 156, 947, 408, 6]
        }, {
            name: '2008 年',
            data: [973, 914, 4054, 732, 34]
        }]
    });
</script>
<script>

    layui.use(['table', 'element', 'layer', 'form', 'laydate'], function () {
        var table = layui.table;
        var element = layui.element;
        var layer = layui.layer;
        var form = layui.form;
        var laydate = layui.laydate;

    });



</script>


