<style type="text/css">
    #myDiv {
        width: 100px;
        height: 100px;
        background: red;
        display: none;
    }
</style>

  

<body>
    <input type="button" id="ch" value="出现">
    <div id="myDiv"></div>
    <script type="text/javascript">
        var oBtn = $("#ch")[0]; var oDiv = document.getElementById('myDiv');
        oBtn.onclick = function () {
            oDiv.style.display = (oDiv.style.display === "none") ? "block" : "none";
        }
    </script>

</body>